=begin
#Reacon API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module Reacon
  class DomainsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Read domain catch-all status
    # Returns the currently fresh domain capability. catch_all is null when evidence is missing, expired or inconclusive. This reads existing evidence; it does not start an SMTP probe.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [DomainCatchAll]
    def get_domain_catch_all(domain, opts = {})
      data, _status_code, _headers = get_domain_catch_all_with_http_info(domain, opts)
      data
    end

    # Read domain catch-all status
    # Returns the currently fresh domain capability. catch_all is null when evidence is missing, expired or inconclusive. This reads existing evidence; it does not start an SMTP probe.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainCatchAll, Integer, Hash)>] DomainCatchAll data, response status code and response headers
    def get_domain_catch_all_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_catch_all ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling DomainsApi.get_domain_catch_all"
      end
      # resource path
      local_var_path = '/v1/domains/{domain}/catch-all'.sub('{domain}', CGI.escape(domain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainCatchAll'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"DomainsApi.get_domain_catch_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_catch_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get company context for a domain
    # Returns the normalized company context and up to ten jobs. company is null when no company context exists.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [DomainCompanyContext]
    def get_domain_company_context(domain, opts = {})
      data, _status_code, _headers = get_domain_company_context_with_http_info(domain, opts)
      data
    end

    # Get company context for a domain
    # Returns the normalized company context and up to ten jobs. company is null when no company context exists.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainCompanyContext, Integer, Hash)>] DomainCompanyContext data, response status code and response headers
    def get_domain_company_context_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_company_context ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling DomainsApi.get_domain_company_context"
      end
      # resource path
      local_var_path = '/v1/domains/{domain}/company-context'.sub('{domain}', CGI.escape(domain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainCompanyContext'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"DomainsApi.get_domain_company_context",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_company_context\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count known emails for a domain
    # Returns personal, generic and total known email counts for the domain. Authenticate with X-API-Key. This endpoint reports counts only; it does not reveal email addresses. The recorded example uses a reserved example.invalid domain with zero known emails.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [DomainCounts]
    def get_domain_counts(domain, opts = {})
      data, _status_code, _headers = get_domain_counts_with_http_info(domain, opts)
      data
    end

    # Count known emails for a domain
    # Returns personal, generic and total known email counts for the domain. Authenticate with X-API-Key. This endpoint reports counts only; it does not reveal email addresses. The recorded example uses a reserved example.invalid domain with zero known emails.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainCounts, Integer, Hash)>] DomainCounts data, response status code and response headers
    def get_domain_counts_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_counts ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling DomainsApi.get_domain_counts"
      end
      # resource path
      local_var_path = '/v1/domains/{domain}/counts'.sub('{domain}', CGI.escape(domain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainCounts'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"DomainsApi.get_domain_counts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_counts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
