=begin
#Reacon API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module Reacon
  class EmailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete an email and its mentions
    # Deletes the email and its mentions. deleted is false when no email row was removed. This changes stored data and must not be retried automatically.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteEmailResponse]
    def delete_email(email, opts = {})
      data, _status_code, _headers = delete_email_with_http_info(email, opts)
      data
    end

    # Delete an email and its mentions
    # Deletes the email and its mentions. deleted is false when no email row was removed. This changes stored data and must not be retried automatically.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteEmailResponse, Integer, Hash)>] DeleteEmailResponse data, response status code and response headers
    def delete_email_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.delete_email ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling EmailsApi.delete_email"
      end
      # resource path
      local_var_path = '/v1/emails/{email}'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteEmailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"EmailsApi.delete_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#delete_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List sources mentioning an email
    # Returns a cursor page of source mentions. X-LR-Cursor and X-LR-Limit override query values. A full page can carry a cursor even if the next page is empty; continue until nextCursor is null.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @option opts [Integer] :x_lr_limit Overrides the query limit, then bounded to 1–500.
    # @option opts [String] :x_lr_cursor Overrides the query cursor.
    # @return [EmailMentionsPage]
    def list_email_mentions(email, opts = {})
      data, _status_code, _headers = list_email_mentions_with_http_info(email, opts)
      data
    end

    # List sources mentioning an email
    # Returns a cursor page of source mentions. X-LR-Cursor and X-LR-Limit override query values. A full page can carry a cursor even if the next page is empty; continue until nextCursor is null.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @option opts [Integer] :x_lr_limit Overrides the query limit, then bounded to 1–500.
    # @option opts [String] :x_lr_cursor Overrides the query cursor.
    # @return [Array<(EmailMentionsPage, Integer, Hash)>] EmailMentionsPage data, response status code and response headers
    def list_email_mentions_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.list_email_mentions ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling EmailsApi.list_email_mentions"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EmailsApi.list_email_mentions, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EmailsApi.list_email_mentions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'x_lr_limit'].nil? && opts[:'x_lr_limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"x_lr_limit"]" when calling EmailsApi.list_email_mentions, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'x_lr_limit'].nil? && opts[:'x_lr_limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"x_lr_limit"]" when calling EmailsApi.list_email_mentions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/emails/{email}/mentions'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-lr-limit'] = opts[:'x_lr_limit'] if !opts[:'x_lr_limit'].nil?
      header_params[:'x-lr-cursor'] = opts[:'x_lr_cursor'] if !opts[:'x_lr_cursor'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailMentionsPage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"EmailsApi.list_email_mentions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#list_email_mentions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List and reveal emails for a domain
    # Lists emails and optional sources. This request may consume credits even though it uses GET. The nextCursor value is null at the end. X-LR-Cursor overrides cursor; when both limits are present, the smaller limit applies. Do not automatically retry a failed or interrupted request.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [Integer] :offset 
    # @option opts [String] :cursor 
    # @option opts [Integer] :sources_limit 
    # @option opts [String] :only_if_free 
    # @option opts [String] :x_lr_cursor Overrides the query cursor.
    # @option opts [Integer] :x_lr_limit Page size; capped by the query limit when both are provided.
    # @return [EmailPage]
    def list_emails(domain, opts = {})
      data, _status_code, _headers = list_emails_with_http_info(domain, opts)
      data
    end

    # List and reveal emails for a domain
    # Lists emails and optional sources. This request may consume credits even though it uses GET. The nextCursor value is null at the end. X-LR-Cursor overrides cursor; when both limits are present, the smaller limit applies. Do not automatically retry a failed or interrupted request.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [Integer] :offset 
    # @option opts [String] :cursor 
    # @option opts [Integer] :sources_limit 
    # @option opts [String] :only_if_free 
    # @option opts [String] :x_lr_cursor Overrides the query cursor.
    # @option opts [Integer] :x_lr_limit Page size; capped by the query limit when both are provided.
    # @return [Array<(EmailPage, Integer, Hash)>] EmailPage data, response status code and response headers
    def list_emails_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.list_emails ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling EmailsApi.list_emails"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EmailsApi.list_emails, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EmailsApi.list_emails, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling EmailsApi.list_emails, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'sources_limit'].nil? && opts[:'sources_limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"sources_limit"]" when calling EmailsApi.list_emails, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'sources_limit'].nil? && opts[:'sources_limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"sources_limit"]" when calling EmailsApi.list_emails, must be greater than or equal to 1.'
      end

      allowable_values = ["true", "false"]
      if @api_client.config.client_side_validation && opts[:'only_if_free'] && !allowable_values.include?(opts[:'only_if_free'])
        fail ArgumentError, "invalid value for \"only_if_free\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'x_lr_limit'].nil? && opts[:'x_lr_limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"x_lr_limit"]" when calling EmailsApi.list_emails, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'x_lr_limit'].nil? && opts[:'x_lr_limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"x_lr_limit"]" when calling EmailsApi.list_emails, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/emails'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = domain
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'sourcesLimit'] = opts[:'sources_limit'] if !opts[:'sources_limit'].nil?
      query_params[:'onlyIfFree'] = opts[:'only_if_free'] if !opts[:'only_if_free'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-lr-cursor'] = opts[:'x_lr_cursor'] if !opts[:'x_lr_cursor'].nil?
      header_params[:'x-lr-limit'] = opts[:'x_lr_limit'] if !opts[:'x_lr_limit'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailPage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"EmailsApi.list_emails",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#list_emails\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reveal an email profile
    # Reveals an email profile with a bounded list of mentions and may create a team lead. May spend credits despite using GET. A 404 uses a nested error object. Do not automatically retry an interrupted request.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [Integer] :x_lr_limit Overrides the query limit, then bounded to 1–500.
    # @return [EmailRevealResponse]
    def reveal_email(email, opts = {})
      data, _status_code, _headers = reveal_email_with_http_info(email, opts)
      data
    end

    # Reveal an email profile
    # Reveals an email profile with a bounded list of mentions and may create a team lead. May spend credits despite using GET. A 404 uses a nested error object. Do not automatically retry an interrupted request.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [Integer] :x_lr_limit Overrides the query limit, then bounded to 1–500.
    # @return [Array<(EmailRevealResponse, Integer, Hash)>] EmailRevealResponse data, response status code and response headers
    def reveal_email_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.reveal_email ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling EmailsApi.reveal_email"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EmailsApi.reveal_email, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EmailsApi.reveal_email, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'x_lr_limit'].nil? && opts[:'x_lr_limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"x_lr_limit"]" when calling EmailsApi.reveal_email, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'x_lr_limit'].nil? && opts[:'x_lr_limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"x_lr_limit"]" when calling EmailsApi.reveal_email, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/emails/{email}'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-lr-limit'] = opts[:'x_lr_limit'] if !opts[:'x_lr_limit'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailRevealResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"EmailsApi.reveal_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#reveal_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reveal an email profile by ID
    # Reveals an email profile by its stable ID with a bounded list of mentions. May spend credits and create a lead. A 404 uses a nested error object. Do not automatically retry.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [Integer] :x_lr_limit Overrides the query limit, then bounded to 1–500.
    # @return [EmailRevealResponse]
    def reveal_email_by_id(id, opts = {})
      data, _status_code, _headers = reveal_email_by_id_with_http_info(id, opts)
      data
    end

    # Reveal an email profile by ID
    # Reveals an email profile by its stable ID with a bounded list of mentions. May spend credits and create a lead. A 404 uses a nested error object. Do not automatically retry.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [Integer] :x_lr_limit Overrides the query limit, then bounded to 1–500.
    # @return [Array<(EmailRevealResponse, Integer, Hash)>] EmailRevealResponse data, response status code and response headers
    def reveal_email_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.reveal_email_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EmailsApi.reveal_email_by_id"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EmailsApi.reveal_email_by_id, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EmailsApi.reveal_email_by_id, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'x_lr_limit'].nil? && opts[:'x_lr_limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"x_lr_limit"]" when calling EmailsApi.reveal_email_by_id, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'x_lr_limit'].nil? && opts[:'x_lr_limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"x_lr_limit"]" when calling EmailsApi.reveal_email_by_id, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/emails/id/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-lr-limit'] = opts[:'x_lr_limit'] if !opts[:'x_lr_limit'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailRevealResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"EmailsApi.reveal_email_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#reveal_email_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
