=begin
#Reacon API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module Reacon
  class InsightsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Extract insights associated with an email
    # Extracts page mentions and platform findings. JSON returns the aggregate. Accept: text/event-stream selects events discriminated by kind; final carries response and error is terminal. mention_error is an item failure and does not terminate the stream. This executes extraction work despite using GET; do not retry or reconnect automatically. Stream disconnection does not imply that backend work has been cancelled.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [InsightsResponse]
    def get_email_insights(email, opts = {})
      data, _status_code, _headers = get_email_insights_with_http_info(email, opts)
      data
    end

    # Extract insights associated with an email
    # Extracts page mentions and platform findings. JSON returns the aggregate. Accept: text/event-stream selects events discriminated by kind; final carries response and error is terminal. mention_error is an item failure and does not terminate the stream. This executes extraction work despite using GET; do not retry or reconnect automatically. Stream disconnection does not imply that backend work has been cancelled.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InsightsResponse, Integer, Hash)>] InsightsResponse data, response status code and response headers
    def get_email_insights_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InsightsApi.get_email_insights ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling InsightsApi.get_email_insights"
      end
      # resource path
      local_var_path = '/v1/insights/{email}'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InsightsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"InsightsApi.get_email_insights",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InsightsApi#get_email_insights\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
