=begin
#Reacon API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module Reacon
  class IntegrationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bind a Typeform OAuth form
    # Binds a form to an existing OAuth connection and configures the provider callback.
    # @param team_id [String] 
    # @param bind_typeform_form_request [BindTypeformFormRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationFormConnectionResponse]
    def bind_typeform_form(team_id, bind_typeform_form_request, opts = {})
      data, _status_code, _headers = bind_typeform_form_with_http_info(team_id, bind_typeform_form_request, opts)
      data
    end

    # Bind a Typeform OAuth form
    # Binds a form to an existing OAuth connection and configures the provider callback.
    # @param team_id [String] 
    # @param bind_typeform_form_request [BindTypeformFormRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationFormConnectionResponse, Integer, Hash)>] IntegrationFormConnectionResponse data, response status code and response headers
    def bind_typeform_form_with_http_info(team_id, bind_typeform_form_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.bind_typeform_form ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.bind_typeform_form"
      end
      # verify the required parameter 'bind_typeform_form_request' is set
      if @api_client.config.client_side_validation && bind_typeform_form_request.nil?
        fail ArgumentError, "Missing the required parameter 'bind_typeform_form_request' when calling IntegrationsApi.bind_typeform_form"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/typeform/oauth/bind'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bind_typeform_form_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationFormConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.bind_typeform_form",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#bind_typeform_form\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bind a Webflow OAuth form
    # Binds a form to an existing OAuth connection and configures the provider callback.
    # @param team_id [String] 
    # @param bind_webflow_form_request [BindWebflowFormRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationFormConnectionResponse]
    def bind_webflow_form(team_id, bind_webflow_form_request, opts = {})
      data, _status_code, _headers = bind_webflow_form_with_http_info(team_id, bind_webflow_form_request, opts)
      data
    end

    # Bind a Webflow OAuth form
    # Binds a form to an existing OAuth connection and configures the provider callback.
    # @param team_id [String] 
    # @param bind_webflow_form_request [BindWebflowFormRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationFormConnectionResponse, Integer, Hash)>] IntegrationFormConnectionResponse data, response status code and response headers
    def bind_webflow_form_with_http_info(team_id, bind_webflow_form_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.bind_webflow_form ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.bind_webflow_form"
      end
      # verify the required parameter 'bind_webflow_form_request' is set
      if @api_client.config.client_side_validation && bind_webflow_form_request.nil?
        fail ArgumentError, "Missing the required parameter 'bind_webflow_form_request' when calling IntegrationsApi.bind_webflow_form"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/webflow/oauth/bind'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bind_webflow_form_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationFormConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.bind_webflow_form",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#bind_webflow_form\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel an integration job
    # Requires team administrator access. Cancels a pending job or requests cancellation of running work. Terminal jobs return already_terminal.
    # @param team_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationJobCancellation]
    def cancel_integration_job(team_id, job_id, opts = {})
      data, _status_code, _headers = cancel_integration_job_with_http_info(team_id, job_id, opts)
      data
    end

    # Cancel an integration job
    # Requires team administrator access. Cancels a pending job or requests cancellation of running work. Terminal jobs return already_terminal.
    # @param team_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationJobCancellation, Integer, Hash)>] IntegrationJobCancellation data, response status code and response headers
    def cancel_integration_job_with_http_info(team_id, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.cancel_integration_job ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.cancel_integration_job"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling IntegrationsApi.cancel_integration_job"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/jobs/{jobId}/cancel'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{jobId}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationJobCancellation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.cancel_integration_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#cancel_integration_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure Airtable field mapping
    # Validates remote fields, updates the mapping and tests the connection. Inspect test.state for provider readiness.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param configure_airtable_mapping_request [ConfigureAirtableMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationConnectionTestResponse]
    def configure_airtable_mapping(team_id, connection_id, configure_airtable_mapping_request, opts = {})
      data, _status_code, _headers = configure_airtable_mapping_with_http_info(team_id, connection_id, configure_airtable_mapping_request, opts)
      data
    end

    # Configure Airtable field mapping
    # Validates remote fields, updates the mapping and tests the connection. Inspect test.state for provider readiness.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param configure_airtable_mapping_request [ConfigureAirtableMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationConnectionTestResponse, Integer, Hash)>] IntegrationConnectionTestResponse data, response status code and response headers
    def configure_airtable_mapping_with_http_info(team_id, connection_id, configure_airtable_mapping_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.configure_airtable_mapping ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.configure_airtable_mapping"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling IntegrationsApi.configure_airtable_mapping"
      end
      # verify the required parameter 'configure_airtable_mapping_request' is set
      if @api_client.config.client_side_validation && configure_airtable_mapping_request.nil?
        fail ArgumentError, "Missing the required parameter 'configure_airtable_mapping_request' when calling IntegrationsApi.configure_airtable_mapping"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/connections/{connectionId}/airtable-mapping/configure'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{connectionId}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configure_airtable_mapping_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationConnectionTestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.configure_airtable_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#configure_airtable_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure a Coda connection
    # Creates a mapped Coda connection and tests access. Inspect test.state for provider health.
    # @param team_id [String] 
    # @param configure_coda_request [ConfigureCodaRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationConnectionTestResponse]
    def configure_coda(team_id, configure_coda_request, opts = {})
      data, _status_code, _headers = configure_coda_with_http_info(team_id, configure_coda_request, opts)
      data
    end

    # Configure a Coda connection
    # Creates a mapped Coda connection and tests access. Inspect test.state for provider health.
    # @param team_id [String] 
    # @param configure_coda_request [ConfigureCodaRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationConnectionTestResponse, Integer, Hash)>] IntegrationConnectionTestResponse data, response status code and response headers
    def configure_coda_with_http_info(team_id, configure_coda_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.configure_coda ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.configure_coda"
      end
      # verify the required parameter 'configure_coda_request' is set
      if @api_client.config.client_side_validation && configure_coda_request.nil?
        fail ArgumentError, "Missing the required parameter 'configure_coda_request' when calling IntegrationsApi.configure_coda"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/coda'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configure_coda_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationConnectionTestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.configure_coda",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#configure_coda\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure CRM field mapping
    # Validates provider-specific mapping, updates the connection and runs a connection test.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param configure_crm_mapping_request [ConfigureCrmMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationConnectionTestResponse]
    def configure_crm_mapping(team_id, connection_id, configure_crm_mapping_request, opts = {})
      data, _status_code, _headers = configure_crm_mapping_with_http_info(team_id, connection_id, configure_crm_mapping_request, opts)
      data
    end

    # Configure CRM field mapping
    # Validates provider-specific mapping, updates the connection and runs a connection test.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param configure_crm_mapping_request [ConfigureCrmMappingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationConnectionTestResponse, Integer, Hash)>] IntegrationConnectionTestResponse data, response status code and response headers
    def configure_crm_mapping_with_http_info(team_id, connection_id, configure_crm_mapping_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.configure_crm_mapping ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.configure_crm_mapping"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling IntegrationsApi.configure_crm_mapping"
      end
      # verify the required parameter 'configure_crm_mapping_request' is set
      if @api_client.config.client_side_validation && configure_crm_mapping_request.nil?
        fail ArgumentError, "Missing the required parameter 'configure_crm_mapping_request' when calling IntegrationsApi.configure_crm_mapping"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/connections/{connectionId}/crm-mapping/configure'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{connectionId}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configure_crm_mapping_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationConnectionTestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.configure_crm_mapping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#configure_crm_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure CRM synchronization
    # Validates and saves lifecycle sync policies and optional HubSpot owner/deal configuration. Returns normalized configuration.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param configure_crm_sync_request [ConfigureCrmSyncRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CrmSyncConfigurationResponse]
    def configure_crm_sync(team_id, connection_id, configure_crm_sync_request, opts = {})
      data, _status_code, _headers = configure_crm_sync_with_http_info(team_id, connection_id, configure_crm_sync_request, opts)
      data
    end

    # Configure CRM synchronization
    # Validates and saves lifecycle sync policies and optional HubSpot owner/deal configuration. Returns normalized configuration.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param configure_crm_sync_request [ConfigureCrmSyncRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CrmSyncConfigurationResponse, Integer, Hash)>] CrmSyncConfigurationResponse data, response status code and response headers
    def configure_crm_sync_with_http_info(team_id, connection_id, configure_crm_sync_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.configure_crm_sync ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.configure_crm_sync"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling IntegrationsApi.configure_crm_sync"
      end
      # verify the required parameter 'configure_crm_sync_request' is set
      if @api_client.config.client_side_validation && configure_crm_sync_request.nil?
        fail ArgumentError, "Missing the required parameter 'configure_crm_sync_request' when calling IntegrationsApi.configure_crm_sync"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/connections/{connectionId}/crm-sync/configure'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{connectionId}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configure_crm_sync_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CrmSyncConfigurationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.configure_crm_sync",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#configure_crm_sync\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure a Freshsales connection
    # Creates a connection, securely stores the supplied credential and runs a connection test. Inspect test.state; HTTP success does not imply a healthy provider.
    # @param team_id [String] 
    # @param configure_freshsales_request [ConfigureFreshsalesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationConnectionTestResponse]
    def configure_freshsales(team_id, configure_freshsales_request, opts = {})
      data, _status_code, _headers = configure_freshsales_with_http_info(team_id, configure_freshsales_request, opts)
      data
    end

    # Configure a Freshsales connection
    # Creates a connection, securely stores the supplied credential and runs a connection test. Inspect test.state; HTTP success does not imply a healthy provider.
    # @param team_id [String] 
    # @param configure_freshsales_request [ConfigureFreshsalesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationConnectionTestResponse, Integer, Hash)>] IntegrationConnectionTestResponse data, response status code and response headers
    def configure_freshsales_with_http_info(team_id, configure_freshsales_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.configure_freshsales ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.configure_freshsales"
      end
      # verify the required parameter 'configure_freshsales_request' is set
      if @api_client.config.client_side_validation && configure_freshsales_request.nil?
        fail ArgumentError, "Missing the required parameter 'configure_freshsales_request' when calling IntegrationsApi.configure_freshsales"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/freshsales'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configure_freshsales_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationConnectionTestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.configure_freshsales",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#configure_freshsales\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure notification routes
    # Saves notification event routes for the connection.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param configure_notification_routes_request [ConfigureNotificationRoutesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationConnectionResponse]
    def configure_notification_routes(team_id, connection_id, configure_notification_routes_request, opts = {})
      data, _status_code, _headers = configure_notification_routes_with_http_info(team_id, connection_id, configure_notification_routes_request, opts)
      data
    end

    # Configure notification routes
    # Saves notification event routes for the connection.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param configure_notification_routes_request [ConfigureNotificationRoutesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationConnectionResponse, Integer, Hash)>] IntegrationConnectionResponse data, response status code and response headers
    def configure_notification_routes_with_http_info(team_id, connection_id, configure_notification_routes_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.configure_notification_routes ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.configure_notification_routes"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling IntegrationsApi.configure_notification_routes"
      end
      # verify the required parameter 'configure_notification_routes_request' is set
      if @api_client.config.client_side_validation && configure_notification_routes_request.nil?
        fail ArgumentError, "Missing the required parameter 'configure_notification_routes_request' when calling IntegrationsApi.configure_notification_routes"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/connections/{connectionId}/notification-routes'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{connectionId}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configure_notification_routes_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.configure_notification_routes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#configure_notification_routes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure a Slack destination
    # Sets the destination channel and notification routes for a Slack connection.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param configure_slack_destination_request [ConfigureSlackDestinationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationConnectionResponse]
    def configure_slack_destination(team_id, connection_id, configure_slack_destination_request, opts = {})
      data, _status_code, _headers = configure_slack_destination_with_http_info(team_id, connection_id, configure_slack_destination_request, opts)
      data
    end

    # Configure a Slack destination
    # Sets the destination channel and notification routes for a Slack connection.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param configure_slack_destination_request [ConfigureSlackDestinationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationConnectionResponse, Integer, Hash)>] IntegrationConnectionResponse data, response status code and response headers
    def configure_slack_destination_with_http_info(team_id, connection_id, configure_slack_destination_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.configure_slack_destination ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.configure_slack_destination"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling IntegrationsApi.configure_slack_destination"
      end
      # verify the required parameter 'configure_slack_destination_request' is set
      if @api_client.config.client_side_validation && configure_slack_destination_request.nil?
        fail ArgumentError, "Missing the required parameter 'configure_slack_destination_request' when calling IntegrationsApi.configure_slack_destination"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/connections/{connectionId}/slack-destination'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{connectionId}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configure_slack_destination_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.configure_slack_destination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#configure_slack_destination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure a Microsoft Teams workflow
    # Creates a connection using the supplied Teams webhook URL and notification routes. The credential is stored separately from public connection configuration.
    # @param team_id [String] 
    # @param configure_teams_workflow_request [ConfigureTeamsWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationConnectionResponse]
    def configure_teams_workflow(team_id, configure_teams_workflow_request, opts = {})
      data, _status_code, _headers = configure_teams_workflow_with_http_info(team_id, configure_teams_workflow_request, opts)
      data
    end

    # Configure a Microsoft Teams workflow
    # Creates a connection using the supplied Teams webhook URL and notification routes. The credential is stored separately from public connection configuration.
    # @param team_id [String] 
    # @param configure_teams_workflow_request [ConfigureTeamsWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationConnectionResponse, Integer, Hash)>] IntegrationConnectionResponse data, response status code and response headers
    def configure_teams_workflow_with_http_info(team_id, configure_teams_workflow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.configure_teams_workflow ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.configure_teams_workflow"
      end
      # verify the required parameter 'configure_teams_workflow_request' is set
      if @api_client.config.client_side_validation && configure_teams_workflow_request.nil?
        fail ArgumentError, "Missing the required parameter 'configure_teams_workflow_request' when calling IntegrationsApi.configure_teams_workflow"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/microsoft-teams'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configure_teams_workflow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.configure_teams_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#configure_teams_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure a Typeform form
    # Creates a form connection and configures its provider callback. Requires administrator access.
    # @param team_id [String] 
    # @param configure_typeform_form_request [ConfigureTypeformFormRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationFormConnectionResponse]
    def configure_typeform_form(team_id, configure_typeform_form_request, opts = {})
      data, _status_code, _headers = configure_typeform_form_with_http_info(team_id, configure_typeform_form_request, opts)
      data
    end

    # Configure a Typeform form
    # Creates a form connection and configures its provider callback. Requires administrator access.
    # @param team_id [String] 
    # @param configure_typeform_form_request [ConfigureTypeformFormRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationFormConnectionResponse, Integer, Hash)>] IntegrationFormConnectionResponse data, response status code and response headers
    def configure_typeform_form_with_http_info(team_id, configure_typeform_form_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.configure_typeform_form ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.configure_typeform_form"
      end
      # verify the required parameter 'configure_typeform_form_request' is set
      if @api_client.config.client_side_validation && configure_typeform_form_request.nil?
        fail ArgumentError, "Missing the required parameter 'configure_typeform_form_request' when calling IntegrationsApi.configure_typeform_form"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/typeform'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configure_typeform_form_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationFormConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.configure_typeform_form",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#configure_typeform_form\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure a warehouse connection
    # Creates a warehouse connection from the provider-specific configuration and credentials. Requires administrator access.
    # @param team_id [String] 
    # @param configure_warehouse_request [ConfigureWarehouseRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationConnectionResponse]
    def configure_warehouse(team_id, configure_warehouse_request, opts = {})
      data, _status_code, _headers = configure_warehouse_with_http_info(team_id, configure_warehouse_request, opts)
      data
    end

    # Configure a warehouse connection
    # Creates a warehouse connection from the provider-specific configuration and credentials. Requires administrator access.
    # @param team_id [String] 
    # @param configure_warehouse_request [ConfigureWarehouseRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationConnectionResponse, Integer, Hash)>] IntegrationConnectionResponse data, response status code and response headers
    def configure_warehouse_with_http_info(team_id, configure_warehouse_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.configure_warehouse ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.configure_warehouse"
      end
      # verify the required parameter 'configure_warehouse_request' is set
      if @api_client.config.client_side_validation && configure_warehouse_request.nil?
        fail ArgumentError, "Missing the required parameter 'configure_warehouse_request' when calling IntegrationsApi.configure_warehouse"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/warehouses'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configure_warehouse_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.configure_warehouse",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#configure_warehouse\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure a Webflow form
    # Creates a form connection and configures its provider callback. Requires administrator access.
    # @param team_id [String] 
    # @param configure_webflow_form_request [ConfigureWebflowFormRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationFormConnectionResponse]
    def configure_webflow_form(team_id, configure_webflow_form_request, opts = {})
      data, _status_code, _headers = configure_webflow_form_with_http_info(team_id, configure_webflow_form_request, opts)
      data
    end

    # Configure a Webflow form
    # Creates a form connection and configures its provider callback. Requires administrator access.
    # @param team_id [String] 
    # @param configure_webflow_form_request [ConfigureWebflowFormRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationFormConnectionResponse, Integer, Hash)>] IntegrationFormConnectionResponse data, response status code and response headers
    def configure_webflow_form_with_http_info(team_id, configure_webflow_form_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.configure_webflow_form ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.configure_webflow_form"
      end
      # verify the required parameter 'configure_webflow_form_request' is set
      if @api_client.config.client_side_validation && configure_webflow_form_request.nil?
        fail ArgumentError, "Missing the required parameter 'configure_webflow_form_request' when calling IntegrationsApi.configure_webflow_form"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/webflow'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configure_webflow_form_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationFormConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.configure_webflow_form",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#configure_webflow_form\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable an MCP identity
    # Disables an identity belonging to the current user and team. Returns 204 without a response body, or 404 when no matching identity exists.
    # @param team_id [String] 
    # @param identity_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def disable_mcp_identity(team_id, identity_id, opts = {})
      disable_mcp_identity_with_http_info(team_id, identity_id, opts)
      nil
    end

    # Disable an MCP identity
    # Disables an identity belonging to the current user and team. Returns 204 without a response body, or 404 when no matching identity exists.
    # @param team_id [String] 
    # @param identity_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def disable_mcp_identity_with_http_info(team_id, identity_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.disable_mcp_identity ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.disable_mcp_identity"
      end
      # verify the required parameter 'identity_id' is set
      if @api_client.config.client_side_validation && identity_id.nil?
        fail ArgumentError, "Missing the required parameter 'identity_id' when calling IntegrationsApi.disable_mcp_identity"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/mcp-identities/{identityId}'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{identityId}', CGI.escape(identity_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.disable_mcp_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#disable_mcp_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Execute an integration capability
    # Runs email.find, email.verify or domain.search against existing revealed/cached data without charging credits. mode defaults to live; preview returns output null. email.find input uses firstName, lastName and domain; email.verify uses email; domain.search uses domain and limit (1–100), with optional company. idempotencyKey is required by HTTP validation in both modes. replay describes invocation recording and must not be treated as permission to automatically replay execution. Segment-signed requests must supply all five origin headers and use segment:SHA256(capability + \":\" + eventId) as idempotencyKey.
    # @param capability [String] 
    # @param execute_integration_capability_request [ExecuteIntegrationCapabilityRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_lumenreach_integration Optional origin signing profile. If any origin header is present, all five are required.
    # @option opts [String] :x_lumenreach_install_id Required together with the other Segment origin headers when origin signing is used.
    # @option opts [String] :x_lumenreach_timestamp Required together with the other Segment origin headers when origin signing is used.
    # @option opts [String] :x_lumenreach_event_id Required together with the other Segment origin headers when origin signing is used.
    # @option opts [String] :x_lumenreach_signature Required together with the other Segment origin headers when origin signing is used.
    # @return [IntegrationCapabilityResponse]
    def execute_integration_capability(capability, execute_integration_capability_request, opts = {})
      data, _status_code, _headers = execute_integration_capability_with_http_info(capability, execute_integration_capability_request, opts)
      data
    end

    # Execute an integration capability
    # Runs email.find, email.verify or domain.search against existing revealed/cached data without charging credits. mode defaults to live; preview returns output null. email.find input uses firstName, lastName and domain; email.verify uses email; domain.search uses domain and limit (1–100), with optional company. idempotencyKey is required by HTTP validation in both modes. replay describes invocation recording and must not be treated as permission to automatically replay execution. Segment-signed requests must supply all five origin headers and use segment:SHA256(capability + \&quot;:\&quot; + eventId) as idempotencyKey.
    # @param capability [String] 
    # @param execute_integration_capability_request [ExecuteIntegrationCapabilityRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_lumenreach_integration Optional origin signing profile. If any origin header is present, all five are required.
    # @option opts [String] :x_lumenreach_install_id Required together with the other Segment origin headers when origin signing is used.
    # @option opts [String] :x_lumenreach_timestamp Required together with the other Segment origin headers when origin signing is used.
    # @option opts [String] :x_lumenreach_event_id Required together with the other Segment origin headers when origin signing is used.
    # @option opts [String] :x_lumenreach_signature Required together with the other Segment origin headers when origin signing is used.
    # @return [Array<(IntegrationCapabilityResponse, Integer, Hash)>] IntegrationCapabilityResponse data, response status code and response headers
    def execute_integration_capability_with_http_info(capability, execute_integration_capability_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.execute_integration_capability ...'
      end
      # verify the required parameter 'capability' is set
      if @api_client.config.client_side_validation && capability.nil?
        fail ArgumentError, "Missing the required parameter 'capability' when calling IntegrationsApi.execute_integration_capability"
      end
      # verify enum value
      allowable_values = ["email.find", "email.verify", "domain.search"]
      if @api_client.config.client_side_validation && !allowable_values.include?(capability)
        fail ArgumentError, "invalid value for \"capability\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'execute_integration_capability_request' is set
      if @api_client.config.client_side_validation && execute_integration_capability_request.nil?
        fail ArgumentError, "Missing the required parameter 'execute_integration_capability_request' when calling IntegrationsApi.execute_integration_capability"
      end
      allowable_values = ["segment"]
      if @api_client.config.client_side_validation && opts[:'x_lumenreach_integration'] && !allowable_values.include?(opts[:'x_lumenreach_integration'])
        fail ArgumentError, "invalid value for \"x_lumenreach_integration\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/actions/{capability}'.sub('{capability}', CGI.escape(capability.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-lumenreach-integration'] = opts[:'x_lumenreach_integration'] if !opts[:'x_lumenreach_integration'].nil?
      header_params[:'x-lumenreach-install-id'] = opts[:'x_lumenreach_install_id'] if !opts[:'x_lumenreach_install_id'].nil?
      header_params[:'x-lumenreach-timestamp'] = opts[:'x_lumenreach_timestamp'] if !opts[:'x_lumenreach_timestamp'].nil?
      header_params[:'x-lumenreach-event-id'] = opts[:'x_lumenreach_event_id'] if !opts[:'x_lumenreach_event_id'].nil?
      header_params[:'x-lumenreach-signature'] = opts[:'x_lumenreach_signature'] if !opts[:'x_lumenreach_signature'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(execute_integration_capability_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationCapabilityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.execute_integration_capability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#execute_integration_capability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Airtable mapping options
    # Lists accessible bases and, when baseId is supplied, its tables and fields. Requires administrator access.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :base_id 
    # @return [AirtableMappingOptionsResponse]
    def get_airtable_mapping_options(team_id, connection_id, opts = {})
      data, _status_code, _headers = get_airtable_mapping_options_with_http_info(team_id, connection_id, opts)
      data
    end

    # Get Airtable mapping options
    # Lists accessible bases and, when baseId is supplied, its tables and fields. Requires administrator access.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :base_id 
    # @return [Array<(AirtableMappingOptionsResponse, Integer, Hash)>] AirtableMappingOptionsResponse data, response status code and response headers
    def get_airtable_mapping_options_with_http_info(team_id, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.get_airtable_mapping_options ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.get_airtable_mapping_options"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling IntegrationsApi.get_airtable_mapping_options"
      end
      if @api_client.config.client_side_validation && !opts[:'base_id'].nil? && opts[:'base_id'].to_s.length > 100
        fail ArgumentError, 'invalid value for "opts[:"base_id"]" when calling IntegrationsApi.get_airtable_mapping_options, the character length must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'base_id'].nil? && opts[:'base_id'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"base_id"]" when calling IntegrationsApi.get_airtable_mapping_options, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/connections/{connectionId}/airtable-mapping-options'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{connectionId}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'baseId'] = opts[:'base_id'] if !opts[:'base_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AirtableMappingOptionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.get_airtable_mapping_options",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#get_airtable_mapping_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get CRM mapping options
    # Returns provider objects and writable fields. resourceId selects a provider resource where required, such as a Notion data source.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :resource_id 
    # @return [CrmMappingOptionsResponse]
    def get_crm_mapping_options(team_id, connection_id, opts = {})
      data, _status_code, _headers = get_crm_mapping_options_with_http_info(team_id, connection_id, opts)
      data
    end

    # Get CRM mapping options
    # Returns provider objects and writable fields. resourceId selects a provider resource where required, such as a Notion data source.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :resource_id 
    # @return [Array<(CrmMappingOptionsResponse, Integer, Hash)>] CrmMappingOptionsResponse data, response status code and response headers
    def get_crm_mapping_options_with_http_info(team_id, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.get_crm_mapping_options ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.get_crm_mapping_options"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling IntegrationsApi.get_crm_mapping_options"
      end
      if @api_client.config.client_side_validation && !opts[:'resource_id'].nil? && opts[:'resource_id'].to_s.length > 200
        fail ArgumentError, 'invalid value for "opts[:"resource_id"]" when calling IntegrationsApi.get_crm_mapping_options, the character length must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'resource_id'].nil? && opts[:'resource_id'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"resource_id"]" when calling IntegrationsApi.get_crm_mapping_options, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/connections/{connectionId}/crm-mapping-options'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{connectionId}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'resourceId'] = opts[:'resource_id'] if !opts[:'resource_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CrmMappingOptionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.get_crm_mapping_options",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#get_crm_mapping_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get HubSpot configuration options
    # Lists available contact owners and deal pipelines with their stages. Requires a HubSpot connection and administrator access.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [HubSpotConfigurationOptionsResponse]
    def get_hub_spot_configuration_options(team_id, connection_id, opts = {})
      data, _status_code, _headers = get_hub_spot_configuration_options_with_http_info(team_id, connection_id, opts)
      data
    end

    # Get HubSpot configuration options
    # Lists available contact owners and deal pipelines with their stages. Requires a HubSpot connection and administrator access.
    # @param team_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HubSpotConfigurationOptionsResponse, Integer, Hash)>] HubSpotConfigurationOptionsResponse data, response status code and response headers
    def get_hub_spot_configuration_options_with_http_info(team_id, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.get_hub_spot_configuration_options ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.get_hub_spot_configuration_options"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling IntegrationsApi.get_hub_spot_configuration_options"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/connections/{connectionId}/hubspot-configuration-options'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{connectionId}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HubSpotConfigurationOptionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.get_hub_spot_configuration_options",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#get_hub_spot_configuration_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an integration job
    # Returns a job visible to the current user. A missing job is a 400 validation error.
    # @param team_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationJobResponse]
    def get_integration_job(team_id, job_id, opts = {})
      data, _status_code, _headers = get_integration_job_with_http_info(team_id, job_id, opts)
      data
    end

    # Get an integration job
    # Returns a job visible to the current user. A missing job is a 400 validation error.
    # @param team_id [String] 
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationJobResponse, Integer, Hash)>] IntegrationJobResponse data, response status code and response headers
    def get_integration_job_with_http_info(team_id, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.get_integration_job ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.get_integration_job"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling IntegrationsApi.get_integration_job"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/jobs/{jobId}'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{jobId}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationJobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.get_integration_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#get_integration_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Inspect Coda table columns
    # Requires team administrator access. Uses the supplied API token to discover document and table columns without saving a connection.
    # @param team_id [String] 
    # @param inspect_coda_table_request [InspectCodaTableRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CodaTableInspectionResponse]
    def inspect_coda_table(team_id, inspect_coda_table_request, opts = {})
      data, _status_code, _headers = inspect_coda_table_with_http_info(team_id, inspect_coda_table_request, opts)
      data
    end

    # Inspect Coda table columns
    # Requires team administrator access. Uses the supplied API token to discover document and table columns without saving a connection.
    # @param team_id [String] 
    # @param inspect_coda_table_request [InspectCodaTableRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CodaTableInspectionResponse, Integer, Hash)>] CodaTableInspectionResponse data, response status code and response headers
    def inspect_coda_table_with_http_info(team_id, inspect_coda_table_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.inspect_coda_table ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.inspect_coda_table"
      end
      # verify the required parameter 'inspect_coda_table_request' is set
      if @api_client.config.client_side_validation && inspect_coda_table_request.nil?
        fail ArgumentError, "Missing the required parameter 'inspect_coda_table_request' when calling IntegrationsApi.inspect_coda_table"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/coda/inspect'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inspect_coda_table_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CodaTableInspectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.inspect_coda_table",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#inspect_coda_table\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Inspect an Excel workbook
    # Requires a ready connection owned by the current user and exactly one of driveItemId or shareUrl. Falls back to the first visible worksheet when the requested worksheet is unavailable.
    # @param team_id [String] 
    # @param inspect_excel_workbook_request [InspectExcelWorkbookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ExcelWorkbookInspectionResponse]
    def inspect_excel_workbook(team_id, inspect_excel_workbook_request, opts = {})
      data, _status_code, _headers = inspect_excel_workbook_with_http_info(team_id, inspect_excel_workbook_request, opts)
      data
    end

    # Inspect an Excel workbook
    # Requires a ready connection owned by the current user and exactly one of driveItemId or shareUrl. Falls back to the first visible worksheet when the requested worksheet is unavailable.
    # @param team_id [String] 
    # @param inspect_excel_workbook_request [InspectExcelWorkbookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExcelWorkbookInspectionResponse, Integer, Hash)>] ExcelWorkbookInspectionResponse data, response status code and response headers
    def inspect_excel_workbook_with_http_info(team_id, inspect_excel_workbook_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.inspect_excel_workbook ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.inspect_excel_workbook"
      end
      # verify the required parameter 'inspect_excel_workbook_request' is set
      if @api_client.config.client_side_validation && inspect_excel_workbook_request.nil?
        fail ArgumentError, "Missing the required parameter 'inspect_excel_workbook_request' when calling IntegrationsApi.inspect_excel_workbook"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/microsoft-excel/inspect'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inspect_excel_workbook_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ExcelWorkbookInspectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.inspect_excel_workbook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#inspect_excel_workbook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Inspect a Google spreadsheet
    # Reads sheet names and header columns using a ready connection. headerRow defaults to 1.
    # @param team_id [String] 
    # @param inspect_google_sheet_request [InspectGoogleSheetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GoogleSheetInspectionResponse]
    def inspect_google_sheet(team_id, inspect_google_sheet_request, opts = {})
      data, _status_code, _headers = inspect_google_sheet_with_http_info(team_id, inspect_google_sheet_request, opts)
      data
    end

    # Inspect a Google spreadsheet
    # Reads sheet names and header columns using a ready connection. headerRow defaults to 1.
    # @param team_id [String] 
    # @param inspect_google_sheet_request [InspectGoogleSheetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GoogleSheetInspectionResponse, Integer, Hash)>] GoogleSheetInspectionResponse data, response status code and response headers
    def inspect_google_sheet_with_http_info(team_id, inspect_google_sheet_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.inspect_google_sheet ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.inspect_google_sheet"
      end
      # verify the required parameter 'inspect_google_sheet_request' is set
      if @api_client.config.client_side_validation && inspect_google_sheet_request.nil?
        fail ArgumentError, "Missing the required parameter 'inspect_google_sheet_request' when calling IntegrationsApi.inspect_google_sheet"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/google-sheets/inspect'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inspect_google_sheet_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GoogleSheetInspectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.inspect_google_sheet",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#inspect_google_sheet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Link an MCP identity
    # Requires X-API-Key and a separate verified OIDC token in Authorization: Bearer. Requested scopes must be a subset of the verified token scopes. Omission uses the token scopes. Returns 503 when MCP OIDC is not configured.
    # @param team_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [LinkMcpIdentityRequest] :link_mcp_identity_request 
    # @return [McpIdentityResponse]
    def link_mcp_identity(team_id, opts = {})
      data, _status_code, _headers = link_mcp_identity_with_http_info(team_id, opts)
      data
    end

    # Link an MCP identity
    # Requires X-API-Key and a separate verified OIDC token in Authorization: Bearer. Requested scopes must be a subset of the verified token scopes. Omission uses the token scopes. Returns 503 when MCP OIDC is not configured.
    # @param team_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [LinkMcpIdentityRequest] :link_mcp_identity_request 
    # @return [Array<(McpIdentityResponse, Integer, Hash)>] McpIdentityResponse data, response status code and response headers
    def link_mcp_identity_with_http_info(team_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.link_mcp_identity ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.link_mcp_identity"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/mcp-identities'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'link_mcp_identity_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'McpIdentityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey', 'McpIdentityToken']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.link_mcp_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#link_mcp_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List integration connections
    # Lists visible, non-deleted connections for the authenticated team. Credential values are not included.
    # @param team_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [IntegrationConnectionList]
    def list_integration_connections(team_id, opts = {})
      data, _status_code, _headers = list_integration_connections_with_http_info(team_id, opts)
      data
    end

    # List integration connections
    # Lists visible, non-deleted connections for the authenticated team. Credential values are not included.
    # @param team_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationConnectionList, Integer, Hash)>] IntegrationConnectionList data, response status code and response headers
    def list_integration_connections_with_http_info(team_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.list_integration_connections ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.list_integration_connections"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/connections'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationConnectionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.list_integration_connections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#list_integration_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List integration jobs
    # Lists visible jobs, optionally filtered by connection or status. The default limit is 25 and the maximum is 100. Continue until nextCursor is null.
    # @param team_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :connection_id 
    # @option opts [String] :status 
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 25)
    # @return [IntegrationJobPage]
    def list_integration_jobs(team_id, opts = {})
      data, _status_code, _headers = list_integration_jobs_with_http_info(team_id, opts)
      data
    end

    # List integration jobs
    # Lists visible jobs, optionally filtered by connection or status. The default limit is 25 and the maximum is 100. Continue until nextCursor is null.
    # @param team_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :connection_id 
    # @option opts [String] :status 
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 25)
    # @return [Array<(IntegrationJobPage, Integer, Hash)>] IntegrationJobPage data, response status code and response headers
    def list_integration_jobs_with_http_info(team_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.list_integration_jobs ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling IntegrationsApi.list_integration_jobs"
      end
      allowable_values = ["pending", "running", "succeeded", "failed", "cancelled"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'cursor'].nil? && opts[:'cursor'].to_s.length > 512
        fail ArgumentError, 'invalid value for "opts[:"cursor"]" when calling IntegrationsApi.list_integration_jobs, the character length must be smaller than or equal to 512.'
      end

      if @api_client.config.client_side_validation && !opts[:'cursor'].nil? && opts[:'cursor'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"cursor"]" when calling IntegrationsApi.list_integration_jobs, the character length must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling IntegrationsApi.list_integration_jobs, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling IntegrationsApi.list_integration_jobs, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/teams/{teamId}/integrations/jobs'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'connectionId'] = opts[:'connection_id'] if !opts[:'connection_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationJobPage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"IntegrationsApi.list_integration_jobs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsApi#list_integration_jobs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List integration providers
    # Lists provider metadata, readiness and supported capabilities. Provider identifiers and response status fields remain extensible.
    # @param [Hash] opts the optional parameters
    # @return [IntegrationProviderList]
    def list_integration_providers(opts = {})
      data, _status_code, _headers = list_integration_providers_with_http_info(opts)
      data
    end

    # List integration providers
    # Lists provider metadata, readiness and supported capabilities. Provider identifiers and response status fields remain extensible.
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationProviderList, Integer, Hash)>] IntegrationProviderList data, response status code and response headers
    def list_integration_providers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsApi.list_integration_providers ...'
      end
      # resource path
      local_var_path = '/v1/integrations/providers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
[...]
