=begin
#Reacon API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module Reacon
  class LeadsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a lead in a team
    # Creates a lead for the authenticated team. An API key cannot create leads for another team. Uses HTTP 200 with a lead envelope. No idempotency key is implemented; do not automatically retry.
    # @param team_id [String] 
    # @param create_lead_request [CreateLeadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateLeadResponse]
    def create_lead(team_id, create_lead_request, opts = {})
      data, _status_code, _headers = create_lead_with_http_info(team_id, create_lead_request, opts)
      data
    end

    # Create a lead in a team
    # Creates a lead for the authenticated team. An API key cannot create leads for another team. Uses HTTP 200 with a lead envelope. No idempotency key is implemented; do not automatically retry.
    # @param team_id [String] 
    # @param create_lead_request [CreateLeadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateLeadResponse, Integer, Hash)>] CreateLeadResponse data, response status code and response headers
    def create_lead_with_http_info(team_id, create_lead_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadsApi.create_lead ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling LeadsApi.create_lead"
      end
      # verify the required parameter 'create_lead_request' is set
      if @api_client.config.client_side_validation && create_lead_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_lead_request' when calling LeadsApi.create_lead"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/leads'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_lead_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateLeadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"LeadsApi.create_lead",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadsApi#create_lead\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a lead
    # Deletes a lead visible to the authenticated team and returns a success envelope. A repeated delete can return 404.
    # @param lead_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteLeadResponse]
    def delete_lead(lead_id, opts = {})
      data, _status_code, _headers = delete_lead_with_http_info(lead_id, opts)
      data
    end

    # Delete a lead
    # Deletes a lead visible to the authenticated team and returns a success envelope. A repeated delete can return 404.
    # @param lead_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteLeadResponse, Integer, Hash)>] DeleteLeadResponse data, response status code and response headers
    def delete_lead_with_http_info(lead_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadsApi.delete_lead ...'
      end
      # verify the required parameter 'lead_id' is set
      if @api_client.config.client_side_validation && lead_id.nil?
        fail ArgumentError, "Missing the required parameter 'lead_id' when calling LeadsApi.delete_lead"
      end
      # resource path
      local_var_path = '/v1/leads/{leadId}'.sub('{leadId}', CGI.escape(lead_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteLeadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"LeadsApi.delete_lead",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadsApi#delete_lead\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export selected leads
    # Exports leads selected by inclusion/exclusion scopes and selected/deselected IDs. The body format field selects a JSON array (default) or text/csv attachment. Oversized selections return 413. Selection scopes must contain at least one item. No automatic replay.
    # @param team_id [String] 
    # @param export_leads_request [ExportLeadsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<LeadExportInner>]
    def export_leads(team_id, export_leads_request, opts = {})
      data, _status_code, _headers = export_leads_with_http_info(team_id, export_leads_request, opts)
      data
    end

    # Export selected leads
    # Exports leads selected by inclusion/exclusion scopes and selected/deselected IDs. The body format field selects a JSON array (default) or text/csv attachment. Oversized selections return 413. Selection scopes must contain at least one item. No automatic replay.
    # @param team_id [String] 
    # @param export_leads_request [ExportLeadsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<LeadExportInner>, Integer, Hash)>] Array<LeadExportInner> data, response status code and response headers
    def export_leads_with_http_info(team_id, export_leads_request, opts = {})
      raise ArgumentError, 'Use export_leads_csv for a CSV export.' if export_leads_request.format == 'csv'
      _export_leads_with_http_info(team_id, export_leads_request, opts)
    end

    # Download CSV as text through the same authenticated transport.
    def export_leads_csv(team_id, export_leads_request, opts = {})
      body = export_leads_request.dup
      body.format = 'csv'
      headers = (opts[:header_params] || {}).merge('Accept' => 'text/csv')
      data, _status, response_headers = _export_leads_with_http_info(team_id, body, opts.merge(header_params: headers, debug_return_type: 'String'))
      content_type = response_headers.find { |key, _| key.downcase == 'content-type' }&.last.to_s
      raise 'Expected a CSV export response.' unless content_type.split(';').first.to_s.strip.downcase == 'text/csv'
      data
    end

    private def _export_leads_with_http_info(team_id, export_leads_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadsApi.export_leads ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling LeadsApi.export_leads"
      end
      # verify the required parameter 'export_leads_request' is set
      if @api_client.config.client_side_validation && export_leads_request.nil?
        fail ArgumentError, "Missing the required parameter 'export_leads_request' when calling LeadsApi.export_leads"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/leads/export'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/csv']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(export_leads_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<LeadExportInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"LeadsApi.export_leads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadsApi#export_leads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a lead
    # Retrieves a lead visible to the authenticated team. A missing or inaccessible lead can return 404.
    # @param lead_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetLeadResponse]
    def get_lead(lead_id, opts = {})
      data, _status_code, _headers = get_lead_with_http_info(lead_id, opts)
      data
    end

    # Retrieve a lead
    # Retrieves a lead visible to the authenticated team. A missing or inaccessible lead can return 404.
    # @param lead_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetLeadResponse, Integer, Hash)>] GetLeadResponse data, response status code and response headers
    def get_lead_with_http_info(lead_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadsApi.get_lead ...'
      end
      # verify the required parameter 'lead_id' is set
      if @api_client.config.client_side_validation && lead_id.nil?
        fail ArgumentError, "Missing the required parameter 'lead_id' when calling LeadsApi.get_lead"
      end
      # resource path
      local_var_path = '/v1/leads/{leadId}'.sub('{leadId}', CGI.escape(lead_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLeadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"LeadsApi.get_lead",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadsApi#get_lead\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List team leads
    # Lists leads belonging to the authenticated team, with filters, optional grouping and opaque cursors. filters is a JSON-encoded object. nextCursor, nextGroupCursor and lastGroupCursor are null when absent. The handler always returns JSON; use exportLeads for CSV.
    # @param team_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [Integer] :offset 
    # @option opts [String] :cursor 
    # @option opts [String] :domain 
    # @option opts [String] :search 
    # @option opts [String] :sort 
    # @option opts [String] :group 
    # @option opts [String] :order 
    # @option opts [String] :position 
    # @option opts [String] :filters 
    # @return [LeadPage]
    def list_leads(team_id, opts = {})
      data, _status_code, _headers = list_leads_with_http_info(team_id, opts)
      data
    end

    # List team leads
    # Lists leads belonging to the authenticated team, with filters, optional grouping and opaque cursors. filters is a JSON-encoded object. nextCursor, nextGroupCursor and lastGroupCursor are null when absent. The handler always returns JSON; use exportLeads for CSV.
    # @param team_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [Integer] :offset 
    # @option opts [String] :cursor 
    # @option opts [String] :domain 
    # @option opts [String] :search 
    # @option opts [String] :sort 
    # @option opts [String] :group 
    # @option opts [String] :order 
    # @option opts [String] :position 
    # @option opts [String] :filters 
    # @return [Array<(LeadPage, Integer, Hash)>] LeadPage data, response status code and response headers
    def list_leads_with_http_info(team_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadsApi.list_leads ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling LeadsApi.list_leads"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LeadsApi.list_leads, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LeadsApi.list_leads, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling LeadsApi.list_leads, must be greater than or equal to 0.'
      end

      allowable_values = ["company", "position", "tag", "name", "phone", "location", "created_at", "updated_at"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      allowable_values = ["company", "position", "tag"]
      if @api_client.config.client_side_validation && opts[:'group'] && !allowable_values.include?(opts[:'group'])
        fail ArgumentError, "invalid value for \"group\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/leads'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'group'] = opts[:'group'] if !opts[:'group'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'position'] = opts[:'position'] if !opts[:'position'].nil?
      query_params[:'filters'] = opts[:'filters'] if !opts[:'filters'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LeadPage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"LeadsApi.list_leads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadsApi#list_leads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a lead
    # Updates a lead visible to the authenticated team and returns the updated lead envelope. This endpoint uses POST. Missing leads or an update with no changes can return 404; do not automatically replay.
    # @param lead_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateLeadRequest] :update_lead_request 
    # @return [UpdateLeadResponse]
    def update_lead(lead_id, opts = {})
      data, _status_code, _headers = update_lead_with_http_info(lead_id, opts)
      data
    end

    # Update a lead
    # Updates a lead visible to the authenticated team and returns the updated lead envelope. This endpoint uses POST. Missing leads or an update with no changes can return 404; do not automatically replay.
    # @param lead_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateLeadRequest] :update_lead_request 
    # @return [Array<(UpdateLeadResponse, Integer, Hash)>] UpdateLeadResponse data, response status code and response headers
    def update_lead_with_http_info(lead_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadsApi.update_lead ...'
      end
      # verify the required parameter 'lead_id' is set
      if @api_client.config.client_side_validation && lead_id.nil?
        fail ArgumentError, "Missing the required parameter 'lead_id' when calling LeadsApi.update_lead"
      end
      # resource path
      local_var_path = '/v1/leads/{leadId}/update'.sub('{leadId}', CGI.escape(lead_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_lead_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateLeadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"LeadsApi.update_lead",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadsApi#update_lead\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
