=begin
#Reacon API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module Reacon
  class MailApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a team to a portfolio
    # Adds a target team to the portfolio. The actor must also be an administrator of the target team. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mail_post_portfolio_teams_request [MailPostPortfolioTeamsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostPortfolioTeamsResponse200]
    def add_mail_portfolio_team(team_id, mail_post_portfolio_teams_request, opts = {})
      data, _status_code, _headers = add_mail_portfolio_team_with_http_info(team_id, mail_post_portfolio_teams_request, opts)
      data
    end

    # Add a team to a portfolio
    # Adds a target team to the portfolio. The actor must also be an administrator of the target team. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mail_post_portfolio_teams_request [MailPostPortfolioTeamsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostPortfolioTeamsResponse200, Integer, Hash)>] MailPostPortfolioTeamsResponse200 data, response status code and response headers
    def add_mail_portfolio_team_with_http_info(team_id, mail_post_portfolio_teams_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.add_mail_portfolio_team ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.add_mail_portfolio_team"
      end
      # verify the required parameter 'mail_post_portfolio_teams_request' is set
      if @api_client.config.client_side_validation && mail_post_portfolio_teams_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_portfolio_teams_request' when calling MailApi.add_mail_portfolio_team"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/portfolio/teams'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_portfolio_teams_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostPortfolioTeamsResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.add_mail_portfolio_team",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#add_mail_portfolio_team\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Archive an experiment
    # Archives a draft, stopped or decided experiment. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param experiment_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostExperimentsByExperimentKeyArchiveResponse200]
    def archive_mail_experiment(team_id, experiment_key, opts = {})
      data, _status_code, _headers = archive_mail_experiment_with_http_info(team_id, experiment_key, opts)
      data
    end

    # Archive an experiment
    # Archives a draft, stopped or decided experiment. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param experiment_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostExperimentsByExperimentKeyArchiveResponse200, Integer, Hash)>] MailPostExperimentsByExperimentKeyArchiveResponse200 data, response status code and response headers
    def archive_mail_experiment_with_http_info(team_id, experiment_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.archive_mail_experiment ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.archive_mail_experiment"
      end
      # verify the required parameter 'experiment_key' is set
      if @api_client.config.client_side_validation && experiment_key.nil?
        fail ArgumentError, "Missing the required parameter 'experiment_key' when calling MailApi.archive_mail_experiment"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/experiments/{experimentKey}/archive'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{experimentKey}', CGI.escape(experiment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostExperimentsByExperimentKeyArchiveResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.archive_mail_experiment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#archive_mail_experiment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel a queued message
    # Requests cancellation of a message belonging to this team. The returned message describes the resulting state; already accepted delivery cannot be undone. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostMessagesByMessageIdCancelResponse200]
    def cancel_mail_message(team_id, message_id, opts = {})
      data, _status_code, _headers = cancel_mail_message_with_http_info(team_id, message_id, opts)
      data
    end

    # Cancel a queued message
    # Requests cancellation of a message belonging to this team. The returned message describes the resulting state; already accepted delivery cannot be undone. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostMessagesByMessageIdCancelResponse200, Integer, Hash)>] MailPostMessagesByMessageIdCancelResponse200 data, response status code and response headers
    def cancel_mail_message_with_http_info(team_id, message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.cancel_mail_message ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.cancel_mail_message"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MailApi.cancel_mail_message"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/messages/{messageId}/cancel'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{messageId}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostMessagesByMessageIdCancelResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.cancel_mail_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#cancel_mail_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change a cadence campaign state
    # Pauses, resumes or cancels a cadence campaign and eligible runs. The response includes changed-run counts; legacy run-only campaigns can return a response without a campaign record. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param campaign_id [String] 
    # @param mail_post_cadence_campaigns_by_campaign_id_state_request [MailPostCadenceCampaignsByCampaignIdStateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostCadenceCampaignsByCampaignIdStateResponse200]
    def change_mail_cadence_campaign_state(team_id, campaign_id, mail_post_cadence_campaigns_by_campaign_id_state_request, opts = {})
      data, _status_code, _headers = change_mail_cadence_campaign_state_with_http_info(team_id, campaign_id, mail_post_cadence_campaigns_by_campaign_id_state_request, opts)
      data
    end

    # Change a cadence campaign state
    # Pauses, resumes or cancels a cadence campaign and eligible runs. The response includes changed-run counts; legacy run-only campaigns can return a response without a campaign record. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param campaign_id [String] 
    # @param mail_post_cadence_campaigns_by_campaign_id_state_request [MailPostCadenceCampaignsByCampaignIdStateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostCadenceCampaignsByCampaignIdStateResponse200, Integer, Hash)>] MailPostCadenceCampaignsByCampaignIdStateResponse200 data, response status code and response headers
    def change_mail_cadence_campaign_state_with_http_info(team_id, campaign_id, mail_post_cadence_campaigns_by_campaign_id_state_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.change_mail_cadence_campaign_state ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.change_mail_cadence_campaign_state"
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling MailApi.change_mail_cadence_campaign_state"
      end
      # verify the required parameter 'mail_post_cadence_campaigns_by_campaign_id_state_request' is set
      if @api_client.config.client_side_validation && mail_post_cadence_campaigns_by_campaign_id_state_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_cadence_campaigns_by_campaign_id_state_request' when calling MailApi.change_mail_cadence_campaign_state"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/cadence-campaigns/{campaignId}/state'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{campaignId}', CGI.escape(campaign_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_cadence_campaigns_by_campaign_id_state_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostCadenceCampaignsByCampaignIdStateResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.change_mail_cadence_campaign_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#change_mail_cadence_campaign_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change a cadence run state
    # Pauses, resumes or cancels an eligible run. An absent run or incompatible current state can return the combined not-found/conflict error. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param run_id [String] 
    # @param mail_post_cadence_runs_by_run_id_state_request [MailPostCadenceRunsByRunIdStateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostCadenceRunsByRunIdStateResponse200]
    def change_mail_cadence_run_state(team_id, run_id, mail_post_cadence_runs_by_run_id_state_request, opts = {})
      data, _status_code, _headers = change_mail_cadence_run_state_with_http_info(team_id, run_id, mail_post_cadence_runs_by_run_id_state_request, opts)
      data
    end

    # Change a cadence run state
    # Pauses, resumes or cancels an eligible run. An absent run or incompatible current state can return the combined not-found/conflict error. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param run_id [String] 
    # @param mail_post_cadence_runs_by_run_id_state_request [MailPostCadenceRunsByRunIdStateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostCadenceRunsByRunIdStateResponse200, Integer, Hash)>] MailPostCadenceRunsByRunIdStateResponse200 data, response status code and response headers
    def change_mail_cadence_run_state_with_http_info(team_id, run_id, mail_post_cadence_runs_by_run_id_state_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.change_mail_cadence_run_state ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.change_mail_cadence_run_state"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling MailApi.change_mail_cadence_run_state"
      end
      # verify the required parameter 'mail_post_cadence_runs_by_run_id_state_request' is set
      if @api_client.config.client_side_validation && mail_post_cadence_runs_by_run_id_state_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_cadence_runs_by_run_id_state_request' when calling MailApi.change_mail_cadence_run_state"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/cadence-runs/{runId}/state'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_cadence_runs_by_run_id_state_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostCadenceRunsByRunIdStateResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.change_mail_cadence_run_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#change_mail_cadence_run_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change a campaign state
    # Pauses, resumes or cancels the campaign using the requested action. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param campaign_id [String] 
    # @param mail_post_campaigns_by_campaign_id_state_request [MailPostCampaignsByCampaignIdStateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostCampaignsByCampaignIdStateResponse200]
    def change_mail_campaign_state(team_id, campaign_id, mail_post_campaigns_by_campaign_id_state_request, opts = {})
      data, _status_code, _headers = change_mail_campaign_state_with_http_info(team_id, campaign_id, mail_post_campaigns_by_campaign_id_state_request, opts)
      data
    end

    # Change a campaign state
    # Pauses, resumes or cancels the campaign using the requested action. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param campaign_id [String] 
    # @param mail_post_campaigns_by_campaign_id_state_request [MailPostCampaignsByCampaignIdStateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostCampaignsByCampaignIdStateResponse200, Integer, Hash)>] MailPostCampaignsByCampaignIdStateResponse200 data, response status code and response headers
    def change_mail_campaign_state_with_http_info(team_id, campaign_id, mail_post_campaigns_by_campaign_id_state_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.change_mail_campaign_state ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.change_mail_campaign_state"
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling MailApi.change_mail_campaign_state"
      end
      # verify the required parameter 'mail_post_campaigns_by_campaign_id_state_request' is set
      if @api_client.config.client_side_validation && mail_post_campaigns_by_campaign_id_state_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_campaigns_by_campaign_id_state_request' when calling MailApi.change_mail_campaign_state"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/campaigns/{campaignId}/state'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{campaignId}', CGI.escape(campaign_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_campaigns_by_campaign_id_state_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostCampaignsByCampaignIdStateResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.change_mail_campaign_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#change_mail_campaign_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Classify a reply
    # Classifies reply text and records the resulting contact/timeline state. Optional contact references remain tenant-scoped. Requires authenticated team membership.
    # @param team_id [String] 
    # @param mail_post_crm_classify_reply_request [MailPostCrmClassifyReplyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostCrmClassifyReplyResponse200]
    def classify_mail_reply(team_id, mail_post_crm_classify_reply_request, opts = {})
      data, _status_code, _headers = classify_mail_reply_with_http_info(team_id, mail_post_crm_classify_reply_request, opts)
      data
    end

    # Classify a reply
    # Classifies reply text and records the resulting contact/timeline state. Optional contact references remain tenant-scoped. Requires authenticated team membership.
    # @param team_id [String] 
    # @param mail_post_crm_classify_reply_request [MailPostCrmClassifyReplyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostCrmClassifyReplyResponse200, Integer, Hash)>] MailPostCrmClassifyReplyResponse200 data, response status code and response headers
    def classify_mail_reply_with_http_info(team_id, mail_post_crm_classify_reply_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.classify_mail_reply ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.classify_mail_reply"
      end
      # verify the required parameter 'mail_post_crm_classify_reply_request' is set
      if @api_client.config.client_side_validation && mail_post_crm_classify_reply_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_crm_classify_reply_request' when calling MailApi.classify_mail_reply"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/crm/classify-reply'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_crm_classify_reply_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostCrmClassifyReplyResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.classify_mail_reply",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#classify_mail_reply\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Complete a CRM task
    # Completes a task with the supplied outcome and optional note. The default outcome is completed. Requires authenticated team membership.
    # @param team_id [String] 
    # @param task_id [String] 
    # @param mail_post_crm_tasks_by_task_id_complete_request [MailPostCrmTasksByTaskIdCompleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostCrmTasksByTaskIdCompleteResponse200]
    def complete_mail_crm_task(team_id, task_id, mail_post_crm_tasks_by_task_id_complete_request, opts = {})
      data, _status_code, _headers = complete_mail_crm_task_with_http_info(team_id, task_id, mail_post_crm_tasks_by_task_id_complete_request, opts)
      data
    end

    # Complete a CRM task
    # Completes a task with the supplied outcome and optional note. The default outcome is completed. Requires authenticated team membership.
    # @param team_id [String] 
    # @param task_id [String] 
    # @param mail_post_crm_tasks_by_task_id_complete_request [MailPostCrmTasksByTaskIdCompleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostCrmTasksByTaskIdCompleteResponse200, Integer, Hash)>] MailPostCrmTasksByTaskIdCompleteResponse200 data, response status code and response headers
    def complete_mail_crm_task_with_http_info(team_id, task_id, mail_post_crm_tasks_by_task_id_complete_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.complete_mail_crm_task ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.complete_mail_crm_task"
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling MailApi.complete_mail_crm_task"
      end
      # verify the required parameter 'mail_post_crm_tasks_by_task_id_complete_request' is set
      if @api_client.config.client_side_validation && mail_post_crm_tasks_by_task_id_complete_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_crm_tasks_by_task_id_complete_request' when calling MailApi.complete_mail_crm_task"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/crm/tasks/{taskId}/complete'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{taskId}', CGI.escape(task_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_crm_tasks_by_task_id_complete_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostCrmTasksByTaskIdCompleteResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.complete_mail_crm_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#complete_mail_crm_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure a mailbox sending ramp
    # Configures ramp limits and interval. startingDailyLimit must not exceed targetDailyLimit. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mailbox_id [String] 
    # @param mail_post_deliverability_mailboxes_by_mailbox_id_request [MailPostDeliverabilityMailboxesByMailboxIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostDeliverabilityMailboxesByMailboxIdResponse200]
    def configure_mail_deliverability(team_id, mailbox_id, mail_post_deliverability_mailboxes_by_mailbox_id_request, opts = {})
      data, _status_code, _headers = configure_mail_deliverability_with_http_info(team_id, mailbox_id, mail_post_deliverability_mailboxes_by_mailbox_id_request, opts)
      data
    end

    # Configure a mailbox sending ramp
    # Configures ramp limits and interval. startingDailyLimit must not exceed targetDailyLimit. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mailbox_id [String] 
    # @param mail_post_deliverability_mailboxes_by_mailbox_id_request [MailPostDeliverabilityMailboxesByMailboxIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostDeliverabilityMailboxesByMailboxIdResponse200, Integer, Hash)>] MailPostDeliverabilityMailboxesByMailboxIdResponse200 data, response status code and response headers
    def configure_mail_deliverability_with_http_info(team_id, mailbox_id, mail_post_deliverability_mailboxes_by_mailbox_id_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.configure_mail_deliverability ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.configure_mail_deliverability"
      end
      # verify the required parameter 'mailbox_id' is set
      if @api_client.config.client_side_validation && mailbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'mailbox_id' when calling MailApi.configure_mail_deliverability"
      end
      # verify the required parameter 'mail_post_deliverability_mailboxes_by_mailbox_id_request' is set
      if @api_client.config.client_side_validation && mail_post_deliverability_mailboxes_by_mailbox_id_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_deliverability_mailboxes_by_mailbox_id_request' when calling MailApi.configure_mail_deliverability"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/deliverability/mailboxes/{mailboxId}'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{mailboxId}', CGI.escape(mailbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_deliverability_mailboxes_by_mailbox_id_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostDeliverabilityMailboxesByMailboxIdResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.configure_mail_deliverability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#configure_mail_deliverability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure a tracking domain
    # Normalizes and saves a tracking domain with ownership-verification data. Complete its DNS verification before using it. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mail_post_tracking_domain_request [MailPostTrackingDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostTrackingDomainResponse200]
    def configure_mail_tracking_domain(team_id, mail_post_tracking_domain_request, opts = {})
      data, _status_code, _headers = configure_mail_tracking_domain_with_http_info(team_id, mail_post_tracking_domain_request, opts)
      data
    end

    # Configure a tracking domain
    # Normalizes and saves a tracking domain with ownership-verification data. Complete its DNS verification before using it. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mail_post_tracking_domain_request [MailPostTrackingDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostTrackingDomainResponse200, Integer, Hash)>] MailPostTrackingDomainResponse200 data, response status code and response headers
    def configure_mail_tracking_domain_with_http_info(team_id, mail_post_tracking_domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.configure_mail_tracking_domain ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.configure_mail_tracking_domain"
      end
      # verify the required parameter 'mail_post_tracking_domain_request' is set
      if @api_client.config.client_side_validation && mail_post_tracking_domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_tracking_domain_request' when calling MailApi.configure_mail_tracking_domain"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/tracking-domain'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_tracking_domain_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostTrackingDomainResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.configure_mail_tracking_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#configure_mail_tracking_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Copy a cadence to another team
    # Copies a cadence and its referenced content using targetName. Requires administrator access in both source and target teams. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param cadence_id [String] 
    # @param mail_post_cadences_by_cadence_id_copy_request [MailPostCadencesByCadenceIdCopyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostCadencesByCadenceIdCopyResponse200]
    def copy_mail_cadence(team_id, cadence_id, mail_post_cadences_by_cadence_id_copy_request, opts = {})
      data, _status_code, _headers = copy_mail_cadence_with_http_info(team_id, cadence_id, mail_post_cadences_by_cadence_id_copy_request, opts)
      data
    end

    # Copy a cadence to another team
    # Copies a cadence and its referenced content using targetName. Requires administrator access in both source and target teams. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param cadence_id [String] 
    # @param mail_post_cadences_by_cadence_id_copy_request [MailPostCadencesByCadenceIdCopyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostCadencesByCadenceIdCopyResponse200, Integer, Hash)>] MailPostCadencesByCadenceIdCopyResponse200 data, response status code and response headers
    def copy_mail_cadence_with_http_info(team_id, cadence_id, mail_post_cadences_by_cadence_id_copy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.copy_mail_cadence ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.copy_mail_cadence"
      end
      # verify the required parameter 'cadence_id' is set
      if @api_client.config.client_side_validation && cadence_id.nil?
        fail ArgumentError, "Missing the required parameter 'cadence_id' when calling MailApi.copy_mail_cadence"
      end
      # verify the required parameter 'mail_post_cadences_by_cadence_id_copy_request' is set
      if @api_client.config.client_side_validation && mail_post_cadences_by_cadence_id_copy_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_cadences_by_cadence_id_copy_request' when calling MailApi.copy_mail_cadence"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/cadences/{cadenceId}/copy'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{cadenceId}', CGI.escape(cadence_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_cadences_by_cadence_id_copy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostCadencesByCadenceIdCopyResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.copy_mail_cadence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#copy_mail_cadence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Copy a template to another team
    # Copies a template into targetTeamId with a new ID. The current actor must be an administrator of both source and target teams. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param template_id [String] 
    # @param mail_post_templates_by_template_id_copy_request [MailPostTemplatesByTemplateIdCopyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostTemplatesByTemplateIdCopyResponse200]
    def copy_mail_template(team_id, template_id, mail_post_templates_by_template_id_copy_request, opts = {})
      data, _status_code, _headers = copy_mail_template_with_http_info(team_id, template_id, mail_post_templates_by_template_id_copy_request, opts)
      data
    end

    # Copy a template to another team
    # Copies a template into targetTeamId with a new ID. The current actor must be an administrator of both source and target teams. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param template_id [String] 
    # @param mail_post_templates_by_template_id_copy_request [MailPostTemplatesByTemplateIdCopyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostTemplatesByTemplateIdCopyResponse200, Integer, Hash)>] MailPostTemplatesByTemplateIdCopyResponse200 data, response status code and response headers
    def copy_mail_template_with_http_info(team_id, template_id, mail_post_templates_by_template_id_copy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.copy_mail_template ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.copy_mail_template"
      end
      # verify the required parameter 'template_id' is set
      if @api_client.config.client_side_validation && template_id.nil?
        fail ArgumentError, "Missing the required parameter 'template_id' when calling MailApi.copy_mail_template"
      end
      # verify the required parameter 'mail_post_templates_by_template_id_copy_request' is set
      if @api_client.config.client_side_validation && mail_post_templates_by_template_id_copy_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_templates_by_template_id_copy_request' when calling MailApi.copy_mail_template"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/templates/{templateId}/copy'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{templateId}', CGI.escape(template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_templates_by_template_id_copy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostTemplatesByTemplateIdCopyResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.copy_mail_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#copy_mail_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a campaign draft
    # Creates a versioned campaign draft and returns 201. Each sending window must end after it starts. Creating a draft does not launch delivery. Requires authenticated team membership.
    # @param team_id [String] 
    # @param mail_post_campaigns_request [MailPostCampaignsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostCampaignsResponse201]
    def create_mail_campaign_draft(team_id, mail_post_campaigns_request, opts = {})
      data, _status_code, _headers = create_mail_campaign_draft_with_http_info(team_id, mail_post_campaigns_request, opts)
      data
    end

    # Create a campaign draft
    # Creates a versioned campaign draft and returns 201. Each sending window must end after it starts. Creating a draft does not launch delivery. Requires authenticated team membership.
    # @param team_id [String] 
    # @param mail_post_campaigns_request [MailPostCampaignsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostCampaignsResponse201, Integer, Hash)>] MailPostCampaignsResponse201 data, response status code and response headers
    def create_mail_campaign_draft_with_http_info(team_id, mail_post_campaigns_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.create_mail_campaign_draft ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.create_mail_campaign_draft"
      end
      # verify the required parameter 'mail_post_campaigns_request' is set
      if @api_client.config.client_side_validation && mail_post_campaigns_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_campaigns_request' when calling MailApi.create_mail_campaign_draft"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/campaigns'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_campaigns_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostCampaignsResponse201'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.create_mail_campaign_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#create_mail_campaign_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a contact note
    # Adds a tenant-scoped contact note and its CRM timeline event. Requires authenticated team membership.
    # @param team_id [String] 
    # @param mail_post_crm_notes_request [MailPostCrmNotesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostCrmNotesResponse200]
    def create_mail_crm_note(team_id, mail_post_crm_notes_request, opts = {})
      data, _status_code, _headers = create_mail_crm_note_with_http_info(team_id, mail_post_crm_notes_request, opts)
      data
    end

    # Add a contact note
    # Adds a tenant-scoped contact note and its CRM timeline event. Requires authenticated team membership.
    # @param team_id [String] 
    # @param mail_post_crm_notes_request [MailPostCrmNotesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostCrmNotesResponse200, Integer, Hash)>] MailPostCrmNotesResponse200 data, response status code and response headers
    def create_mail_crm_note_with_http_info(team_id, mail_post_crm_notes_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.create_mail_crm_note ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.create_mail_crm_note"
      end
      # verify the required parameter 'mail_post_crm_notes_request' is set
      if @api_client.config.client_side_validation && mail_post_crm_notes_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_crm_notes_request' when calling MailApi.create_mail_crm_note"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/crm/notes'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_crm_notes_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostCrmNotesResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.create_mail_crm_note",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#create_mail_crm_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a CRM task
    # Creates an assigned, scheduled task for a team contact and returns 201. The assignee must belong to the team. Requires authenticated team membership.
    # @param team_id [String] 
    # @param mail_post_crm_tasks_request [MailPostCrmTasksRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostCrmTasksResponse201]
    def create_mail_crm_task(team_id, mail_post_crm_tasks_request, opts = {})
      data, _status_code, _headers = create_mail_crm_task_with_http_info(team_id, mail_post_crm_tasks_request, opts)
      data
    end

    # Create a CRM task
    # Creates an assigned, scheduled task for a team contact and returns 201. The assignee must belong to the team. Requires authenticated team membership.
    # @param team_id [String] 
    # @param mail_post_crm_tasks_request [MailPostCrmTasksRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostCrmTasksResponse201, Integer, Hash)>] MailPostCrmTasksResponse201 data, response status code and response headers
    def create_mail_crm_task_with_http_info(team_id, mail_post_crm_tasks_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.create_mail_crm_task ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.create_mail_crm_task"
      end
      # verify the required parameter 'mail_post_crm_tasks_request' is set
      if @api_client.config.client_side_validation && mail_post_crm_tasks_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_crm_tasks_request' when calling MailApi.create_mail_crm_task"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/crm/tasks'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_crm_tasks_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostCrmTasksResponse201'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.create_mail_crm_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#create_mail_crm_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a mailbox pool
    # Creates a round-robin or capacity-weighted sending pool and returns 201 with an initially empty member list. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mail_post_deliverability_pools_request [MailPostDeliverabilityPoolsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostDeliverabilityPoolsResponse201]
    def create_mail_mailbox_pool(team_id, mail_post_deliverability_pools_request, opts = {})
      data, _status_code, _headers = create_mail_mailbox_pool_with_http_info(team_id, mail_post_deliverability_pools_request, opts)
      data
    end

    # Create a mailbox pool
    # Creates a round-robin or capacity-weighted sending pool and returns 201 with an initially empty member list. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mail_post_deliverability_pools_request [MailPostDeliverabilityPoolsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostDeliverabilityPoolsResponse201, Integer, Hash)>] MailPostDeliverabilityPoolsResponse201 data, response status code and response headers
    def create_mail_mailbox_pool_with_http_info(team_id, mail_post_deliverability_pools_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.create_mail_mailbox_pool ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.create_mail_mailbox_pool"
      end
      # verify the required parameter 'mail_post_deliverability_pools_request' is set
      if @api_client.config.client_side_validation && mail_post_deliverability_pools_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_deliverability_pools_request' when calling MailApi.create_mail_mailbox_pool"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/deliverability/pools'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_deliverability_pools_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostDeliverabilityPoolsResponse201'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.create_mail_mailbox_pool",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#create_mail_mailbox_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a mail portfolio
    # Creates a portfolio owned by this team. An existing portfolio returns a conflict. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mail_post_portfolio_request [MailPostPortfolioRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostPortfolioResponse200]
    def create_mail_portfolio(team_id, mail_post_portfolio_request, opts = {})
      data, _status_code, _headers = create_mail_portfolio_with_http_info(team_id, mail_post_portfolio_request, opts)
      data
    end

    # Create a mail portfolio
    # Creates a portfolio owned by this team. An existing portfolio returns a conflict. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mail_post_portfolio_request [MailPostPortfolioRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostPortfolioResponse200, Integer, Hash)>] MailPostPortfolioResponse200 data, response status code and response headers
    def create_mail_portfolio_with_http_info(team_id, mail_post_portfolio_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.create_mail_portfolio ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.create_mail_portfolio"
      end
      # verify the required parameter 'mail_post_portfolio_request' is set
      if @api_client.config.client_side_validation && mail_post_portfolio_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_portfolio_request' when calling MailApi.create_mail_portfolio"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/portfolio'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_portfolio_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostPortfolioResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.create_mail_portfolio",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#create_mail_portfolio\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a portfolio suppression
    # Creates an email or domain suppression shared within the portfolio. The default reason is agency policy. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mail_post_portfolio_suppressions_request [MailPostPortfolioSuppressionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostPortfolioSuppressionsResponse200]
    def create_mail_portfolio_suppression(team_id, mail_post_portfolio_suppressions_request, opts = {})
      data, _status_code, _headers = create_mail_portfolio_suppression_with_http_info(team_id, mail_post_portfolio_suppressions_request, opts)
      data
    end

    # Create a portfolio suppression
    # Creates an email or domain suppression shared within the portfolio. The default reason is agency policy. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mail_post_portfolio_suppressions_request [MailPostPortfolioSuppressionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostPortfolioSuppressionsResponse200, Integer, Hash)>] MailPostPortfolioSuppressionsResponse200 data, response status code and response headers
    def create_mail_portfolio_suppression_with_http_info(team_id, mail_post_portfolio_suppressions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.create_mail_portfolio_suppression ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.create_mail_portfolio_suppression"
      end
      # verify the required parameter 'mail_post_portfolio_suppressions_request' is set
      if @api_client.config.client_side_validation && mail_post_portfolio_suppressions_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_portfolio_suppressions_request' when calling MailApi.create_mail_portfolio_suppression"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/portfolio/suppressions'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_portfolio_suppressions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostPortfolioSuppressionsResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.create_mail_portfolio_suppression",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#create_mail_portfolio_suppression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Suppress an email or domain
    # Creates an email or domain suppression with reason manual. Scope determines the format of value. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mail_post_suppressions_request [MailPostSuppressionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostSuppressionsResponse200]
    def create_mail_suppression(team_id, mail_post_suppressions_request, opts = {})
      data, _status_code, _headers = create_mail_suppression_with_http_info(team_id, mail_post_suppressions_request, opts)
      data
    end

    # Suppress an email or domain
    # Creates an email or domain suppression with reason manual. Scope determines the format of value. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mail_post_suppressions_request [MailPostSuppressionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostSuppressionsResponse200, Integer, Hash)>] MailPostSuppressionsResponse200 data, response status code and response headers
    def create_mail_suppression_with_http_info(team_id, mail_post_suppressions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.create_mail_suppression ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.create_mail_suppression"
      end
      # verify the required parameter 'mail_post_suppressions_request' is set
      if @api_client.config.client_side_validation && mail_post_suppressions_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_suppressions_request' when calling MailApi.create_mail_suppression"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/suppressions'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_suppressions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostSuppressionsResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.create_mail_suppression",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#create_mail_suppression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a mail webhook
    # Creates a subscription and returns 201 with its signingSecret. Store this secret securely; redact it from examples and logs. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mail_post_webhooks_request [MailPostWebhooksRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostWebhooksResponse201]
    def create_mail_webhook(team_id, mail_post_webhooks_request, opts = {})
      data, _status_code, _headers = create_mail_webhook_with_http_info(team_id, mail_post_webhooks_request, opts)
      data
    end

    # Create a mail webhook
    # Creates a subscription and returns 201 with its signingSecret. Store this secret securely; redact it from examples and logs. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mail_post_webhooks_request [MailPostWebhooksRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostWebhooksResponse201, Integer, Hash)>] MailPostWebhooksResponse201 data, response status code and response headers
    def create_mail_webhook_with_http_info(team_id, mail_post_webhooks_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.create_mail_webhook ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.create_mail_webhook"
      end
      # verify the required parameter 'mail_post_webhooks_request' is set
      if @api_client.config.client_side_validation && mail_post_webhooks_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_webhooks_request' when calling MailApi.create_mail_webhook"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/webhooks'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_webhooks_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostWebhooksResponse201'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.create_mail_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#create_mail_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Record an experiment decision
    # Records a winning variant for a revision. Automatic decisions must satisfy the report eligibility guard and recommended winner. An inconclusive manual override requires allowInconclusiveManualDecision and a reason. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param experiment_key [String] 
    # @param mail_post_experiments_by_experiment_key_decide_request [MailPostExperimentsByExperimentKeyDecideRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostExperimentsByExperimentKeyDecideResponse200]
    def decide_mail_experiment(team_id, experiment_key, mail_post_experiments_by_experiment_key_decide_request, opts = {})
      data, _status_code, _headers = decide_mail_experiment_with_http_info(team_id, experiment_key, mail_post_experiments_by_experiment_key_decide_request, opts)
      data
    end

    # Record an experiment decision
    # Records a winning variant for a revision. Automatic decisions must satisfy the report eligibility guard and recommended winner. An inconclusive manual override requires allowInconclusiveManualDecision and a reason. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param experiment_key [String] 
    # @param mail_post_experiments_by_experiment_key_decide_request [MailPostExperimentsByExperimentKeyDecideRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostExperimentsByExperimentKeyDecideResponse200, Integer, Hash)>] MailPostExperimentsByExperimentKeyDecideResponse200 data, response status code and response headers
    def decide_mail_experiment_with_http_info(team_id, experiment_key, mail_post_experiments_by_experiment_key_decide_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.decide_mail_experiment ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.decide_mail_experiment"
      end
      # verify the required parameter 'experiment_key' is set
      if @api_client.config.client_side_validation && experiment_key.nil?
        fail ArgumentError, "Missing the required parameter 'experiment_key' when calling MailApi.decide_mail_experiment"
      end
      # verify the required parameter 'mail_post_experiments_by_experiment_key_decide_request' is set
      if @api_client.config.client_side_validation && mail_post_experiments_by_experiment_key_decide_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_post_experiments_by_experiment_key_decide_request' when calling MailApi.decide_mail_experiment"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/experiments/{experimentKey}/decide'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{experimentKey}', CGI.escape(experiment_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_post_experiments_by_experiment_key_decide_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailPostExperimentsByExperimentKeyDecideResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.decide_mail_experiment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#decide_mail_experiment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a campaign draft
    # Deletes a draft using expectedVersion in the JSON request body and returns a deleted envelope. This DELETE has a request body. Requires authenticated team membership.
    # @param team_id [String] 
    # @param campaign_id [String] 
    # @param mail_delete_campaigns_by_campaign_id_request [MailDeleteCampaignsByCampaignIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MailDeleteCampaignsByCampaignIdResponse200]
    def delete_mail_campaign_draft(team_id, campaign_id, mail_delete_campaigns_by_campaign_id_request, opts = {})
      data, _status_code, _headers = delete_mail_campaign_draft_with_http_info(team_id, campaign_id, mail_delete_campaigns_by_campaign_id_request, opts)
      data
    end

    # Delete a campaign draft
    # Deletes a draft using expectedVersion in the JSON request body and returns a deleted envelope. This DELETE has a request body. Requires authenticated team membership.
    # @param team_id [String] 
    # @param campaign_id [String] 
    # @param mail_delete_campaigns_by_campaign_id_request [MailDeleteCampaignsByCampaignIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailDeleteCampaignsByCampaignIdResponse200, Integer, Hash)>] MailDeleteCampaignsByCampaignIdResponse200 data, response status code and response headers
    def delete_mail_campaign_draft_with_http_info(team_id, campaign_id, mail_delete_campaigns_by_campaign_id_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.delete_mail_campaign_draft ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.delete_mail_campaign_draft"
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling MailApi.delete_mail_campaign_draft"
      end
      # verify the required parameter 'mail_delete_campaigns_by_campaign_id_request' is set
      if @api_client.config.client_side_validation && mail_delete_campaigns_by_campaign_id_request.nil?
        fail ArgumentError, "Missing the required parameter 'mail_delete_campaigns_by_campaign_id_request' when calling MailApi.delete_mail_campaign_draft"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/campaigns/{campaignId}'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{campaignId}', CGI.escape(campaign_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mail_delete_campaigns_by_campaign_id_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MailDeleteCampaignsByCampaignIdResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.delete_mail_campaign_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#delete_mail_campaign_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a reply automation
    # Deletes a tenant-scoped reply automation and returns a result envelope. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param automation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MailDeleteReplyAutomationsByAutomationIdResponse200]
    def delete_mail_reply_automation(team_id, automation_id, opts = {})
      data, _status_code, _headers = delete_mail_reply_automation_with_http_info(team_id, automation_id, opts)
      data
    end

    # Delete a reply automation
    # Deletes a tenant-scoped reply automation and returns a result envelope. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param automation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailDeleteReplyAutomationsByAutomationIdResponse200, Integer, Hash)>] MailDeleteReplyAutomationsByAutomationIdResponse200 data, response status code and response headers
    def delete_mail_reply_automation_with_http_info(team_id, automation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.delete_mail_reply_automation ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.delete_mail_reply_automation"
      end
      # verify the required parameter 'automation_id' is set
      if @api_client.config.client_side_validation && automation_id.nil?
        fail ArgumentError, "Missing the required parameter 'automation_id' when calling MailApi.delete_mail_reply_automation"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/reply-automations/{automationId}'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{automationId}', CGI.escape(automation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailDeleteReplyAutomationsByAutomationIdResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.delete_mail_reply_automation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#delete_mail_reply_automation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a tracking domain
    # Removes the tracking-domain configuration and returns removed. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MailDeleteTrackingDomainResponse200]
    def delete_mail_tracking_domain(team_id, opts = {})
      data, _status_code, _headers = delete_mail_tracking_domain_with_http_info(team_id, opts)
      data
    end

    # Delete a tracking domain
    # Removes the tracking-domain configuration and returns removed. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailDeleteTrackingDomainResponse200, Integer, Hash)>] MailDeleteTrackingDomainResponse200 data, response status code and response headers
    def delete_mail_tracking_domain_with_http_info(team_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.delete_mail_tracking_domain ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.delete_mail_tracking_domain"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/tracking-domain'.sub('{teamId}', CGI.escape(team_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailDeleteTrackingDomainResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.delete_mail_tracking_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#delete_mail_tracking_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a mail webhook
    # Deletes the team subscription and returns a JSON deleted envelope, not a bodyless response. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param subscription_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MailDeleteWebhooksBySubscriptionIdResponse200]
    def delete_mail_webhook(team_id, subscription_id, opts = {})
      data, _status_code, _headers = delete_mail_webhook_with_http_info(team_id, subscription_id, opts)
      data
    end

    # Delete a mail webhook
    # Deletes the team subscription and returns a JSON deleted envelope, not a bodyless response. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param subscription_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailDeleteWebhooksBySubscriptionIdResponse200, Integer, Hash)>] MailDeleteWebhooksBySubscriptionIdResponse200 data, response status code and response headers
    def delete_mail_webhook_with_http_info(team_id, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.delete_mail_webhook ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.delete_mail_webhook"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling MailApi.delete_mail_webhook"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/webhooks/{subscriptionId}'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailDeleteWebhooksBySubscriptionIdResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.delete_mail_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#delete_mail_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disconnect a mailbox
    # Disconnects the mailbox using the configured mailbox-disconnection service. Missing service configuration fails a precondition. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mailbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MailDeleteMailboxesByMailboxIdResponse200]
    def disconnect_mail_mailbox(team_id, mailbox_id, opts = {})
      data, _status_code, _headers = disconnect_mail_mailbox_with_http_info(team_id, mailbox_id, opts)
      data
    end

    # Disconnect a mailbox
    # Disconnects the mailbox using the configured mailbox-disconnection service. Missing service configuration fails a precondition. Requires team OWNER or ADMIN membership.
    # @param team_id [String] 
    # @param mailbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailDeleteMailboxesByMailboxIdResponse200, Integer, Hash)>] MailDeleteMailboxesByMailboxIdResponse200 data, response status code and response headers
    def disconnect_mail_mailbox_with_http_info(team_id, mailbox_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.disconnect_mail_mailbox ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.disconnect_mail_mailbox"
      end
      # verify the required parameter 'mailbox_id' is set
      if @api_client.config.client_side_validation && mailbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'mailbox_id' when calling MailApi.disconnect_mail_mailbox"
      end
      # resource path
      local_var_path = '/v1/teams/{teamId}/mail/mailboxes/{mailboxId}'.sub('{teamId}', CGI.escape(team_id.to_s)).sub('{mailboxId}', CGI.escape(mailbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailDeleteMailboxesByMailboxIdResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"MailApi.disconnect_mail_mailbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#disconnect_mail_mailbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Duplicate a campaign draft
    # Creates a new draft with new campaign and step IDs and returns 201. The copy starts at version 1 and is not launched. Requires authenticated team membership.
    # @param team_id [String] 
    # @param campaign_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MailPostCampaignsByCampaignIdDuplicateResponse201]
    def duplicate_mail_campaign_draft(team_id, campaign_id, opts = {})
      data, _status_code, _headers = duplicate_mail_campaign_draft_with_http_info(team_id, campaign_id, opts)
      data
    end

    # Duplicate a campaign draft
    # Creates a new draft with new campaign and step IDs and returns 201. The copy starts at version 1 and is not launched. Requires authenticated team membership.
    # @param team_id [String] 
    # @param campaign_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailPostCampaignsByCampaignIdDuplicateResponse201, Integer, Hash)>] MailPostCampaignsByCampaignIdDuplicateResponse201 data, response status code and response headers
    def duplicate_mail_campaign_draft_with_http_info(team_id, campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.duplicate_mail_campaign_draft ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling MailApi.duplicate_mail_campaign_draft"
      end
      # verify the required parameter 'campaign_id' is set
[...]
