=begin
#Reacon API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module Reacon
  class NamesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List supported email name patterns
    # Returns name patterns ranked by score. domain is required and validated; optional first and last query fields do not alter this static pattern list.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first 
    # @option opts [String] :last 
    # @return [NamePatternsResponse]
    def list_name_patterns(domain, opts = {})
      data, _status_code, _headers = list_name_patterns_with_http_info(domain, opts)
      data
    end

    # List supported email name patterns
    # Returns name patterns ranked by score. domain is required and validated; optional first and last query fields do not alter this static pattern list.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first 
    # @option opts [String] :last 
    # @return [Array<(NamePatternsResponse, Integer, Hash)>] NamePatternsResponse data, response status code and response headers
    def list_name_patterns_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NamesApi.list_name_patterns ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling NamesApi.list_name_patterns"
      end
      # resource path
      local_var_path = '/v1/name/schemas'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = domain
      query_params[:'first'] = opts[:'first'] if !opts[:'first'].nil?
      query_params[:'last'] = opts[:'last'] if !opts[:'last'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NamePatternsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"NamesApi.list_name_patterns",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NamesApi#list_name_patterns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify name-based email patterns
    # Verifies candidate addresses built from sanitized first and last names. JSON returns patterns, globalStages and results. With Accept: text/event-stream, events contain stages or individual pattern verdicts; ordinary completion is clean EOF, with no aggregate final marker. When no candidates can be built, the stream instead emits a result envelope and ends. Errors can describe individual candidates; an error event is not universally terminal. The operation may consume credits; never reconnect or replay automatically.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first 
    # @option opts [String] :last 
    # @option opts [String] :cache_max_age 
    # @option opts [String] :only_if_free 
    # @return [NameVerificationResponse]
    def verify_name(domain, opts = {})
      data, _status_code, _headers = verify_name_with_http_info(domain, opts)
      data
    end

    # Verify name-based email patterns
    # Verifies candidate addresses built from sanitized first and last names. JSON returns patterns, globalStages and results. With Accept: text/event-stream, events contain stages or individual pattern verdicts; ordinary completion is clean EOF, with no aggregate final marker. When no candidates can be built, the stream instead emits a result envelope and ends. Errors can describe individual candidates; an error event is not universally terminal. The operation may consume credits; never reconnect or replay automatically.
    # @param domain [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first 
    # @option opts [String] :last 
    # @option opts [String] :cache_max_age 
    # @option opts [String] :only_if_free 
    # @return [Array<(NameVerificationResponse, Integer, Hash)>] NameVerificationResponse data, response status code and response headers
    def verify_name_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NamesApi.verify_name ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling NamesApi.verify_name"
      end
      allowable_values = ["live", "1d", "1w", "1m"]
      if @api_client.config.client_side_validation && opts[:'cache_max_age'] && !allowable_values.include?(opts[:'cache_max_age'])
        fail ArgumentError, "invalid value for \"cache_max_age\", must be one of #{allowable_values}"
      end
      allowable_values = ["true", "false"]
      if @api_client.config.client_side_validation && opts[:'only_if_free'] && !allowable_values.include?(opts[:'only_if_free'])
        fail ArgumentError, "invalid value for \"only_if_free\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/name/verify'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = domain
      query_params[:'first'] = opts[:'first'] if !opts[:'first'].nil?
      query_params[:'last'] = opts[:'last'] if !opts[:'last'].nil?
      query_params[:'cacheMaxAge'] = opts[:'cache_max_age'] if !opts[:'cache_max_age'].nil?
      query_params[:'onlyIfFree'] = opts[:'only_if_free'] if !opts[:'only_if_free'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NameVerificationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"NamesApi.verify_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NamesApi#verify_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
