=begin
#Reacon API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module Reacon
  class ProductToolsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Execute a product tool
    # Execute one of the listed tools using a team API key. Choose the input schema associated with the tool path parameter; the input union alone cannot express that relationship. Read tools return executionId=null and replay=false. Write tools require input.idempotencyKey (16–200 characters), scoped to the team across tools. Reusing a key with the same tool and validated input returns the committed output with replay=true while retained; different input or an unfinished execution returns HTTP 409. The SDK does not automatically retry this dispatcher. Tool scopes describe the shared integration/MCP catalog; this HTTP endpoint uses team API-key authentication and team-access checks. Missing database resources can currently surface as HTTP 500. See each tool for output and pagination semantics.
    # @param tool [String] 
    # @param product_tool_request [ProductToolRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProductToolExecution]
    def execute_product_tool(tool, product_tool_request, opts = {})
      data, _status_code, _headers = execute_product_tool_with_http_info(tool, product_tool_request, opts)
      data
    end

    # Execute a product tool
    # Execute one of the listed tools using a team API key. Choose the input schema associated with the tool path parameter; the input union alone cannot express that relationship. Read tools return executionId&#x3D;null and replay&#x3D;false. Write tools require input.idempotencyKey (16–200 characters), scoped to the team across tools. Reusing a key with the same tool and validated input returns the committed output with replay&#x3D;true while retained; different input or an unfinished execution returns HTTP 409. The SDK does not automatically retry this dispatcher. Tool scopes describe the shared integration/MCP catalog; this HTTP endpoint uses team API-key authentication and team-access checks. Missing database resources can currently surface as HTTP 500. See each tool for output and pagination semantics.
    # @param tool [String] 
    # @param product_tool_request [ProductToolRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductToolExecution, Integer, Hash)>] ProductToolExecution data, response status code and response headers
    def execute_product_tool_with_http_info(tool, product_tool_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductToolsApi.execute_product_tool ...'
      end
      # verify the required parameter 'tool' is set
      if @api_client.config.client_side_validation && tool.nil?
        fail ArgumentError, "Missing the required parameter 'tool' when calling ProductToolsApi.execute_product_tool"
      end
      # verify enum value
      allowable_values = ["discover_companies", "discover_people", "domain_finder", "email_count", "person_enrich", "company_enrich", "combined_enrich", "saved_searches_list", "leads_list", "lead_get", "lead_create", "lead_update", "lead_upsert", "lead_delete", "lead_enrich", "lead_bulk_delete", "lead_tags_list", "lead_tag_create", "lead_tag_assign", "lead_tag_remove", "custom_attributes_list", "custom_attribute_create", "lead_lists_list", "lead_list_create", "lead_list_update", "lead_list_delete", "lead_list_add_lead", "lead_list_remove_lead", "companies_list", "company_track", "company_update", "company_delete", "company_lists_list", "company_list_create", "company_list_add", "company_list_remove", "sequences_list", "sequence_recipients_list", "sequence_recipients_add", "sequence_recipient_add", "sequence_recipient_cancel", "sequence_start", "account_info", "usage", "usage_history", "team_members", "connected_apps", "connected_app_push"]
      if @api_client.config.client_side_validation && !allowable_values.include?(tool)
        fail ArgumentError, "invalid value for \"tool\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'product_tool_request' is set
      if @api_client.config.client_side_validation && product_tool_request.nil?
        fail ArgumentError, "Missing the required parameter 'product_tool_request' when calling ProductToolsApi.execute_product_tool"
      end
      # resource path
      local_var_path = '/v1/product/tools/{tool}'.sub('{tool}', CGI.escape(tool.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product_tool_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductToolExecution'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"ProductToolsApi.execute_product_tool",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductToolsApi#execute_product_tool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
