=begin
#Reacon API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module Reacon
  class VerificationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Verify a batch of email addresses
    # Processes email addresses sequentially. A successful HTTP 200 response contains per-item results or errors. Do not replay the whole batch when only one item fails. This operation may consume credits.
    # @param batch_verification_request [BatchVerificationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchVerificationResponse]
    def verify_batch(batch_verification_request, opts = {})
      data, _status_code, _headers = verify_batch_with_http_info(batch_verification_request, opts)
      data
    end

    # Verify a batch of email addresses
    # Processes email addresses sequentially. A successful HTTP 200 response contains per-item results or errors. Do not replay the whole batch when only one item fails. This operation may consume credits.
    # @param batch_verification_request [BatchVerificationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchVerificationResponse, Integer, Hash)>] BatchVerificationResponse data, response status code and response headers
    def verify_batch_with_http_info(batch_verification_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerificationApi.verify_batch ...'
      end
      # verify the required parameter 'batch_verification_request' is set
      if @api_client.config.client_side_validation && batch_verification_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_verification_request' when calling VerificationApi.verify_batch"
      end
      # resource path
      local_var_path = '/v1/verify/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_verification_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchVerificationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"VerificationApi.verify_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerificationApi#verify_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify an email address
    # Returns a final JSON aggregate by default. Accept: text/event-stream selects a finite stream of unnamed data events. Events carry a stage, state, result or error; there is no kind field or [DONE] marker on this endpoint. A result or error is terminal. Verification may consume credits and must not be automatically retried or reconnected.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cache_max_age 
    # @option opts [String] :only_if_free 
    # @return [VerificationResponse]
    def verify_email(email, opts = {})
      data, _status_code, _headers = verify_email_with_http_info(email, opts)
      data
    end

    # Verify an email address
    # Returns a final JSON aggregate by default. Accept: text/event-stream selects a finite stream of unnamed data events. Events carry a stage, state, result or error; there is no kind field or [DONE] marker on this endpoint. A result or error is terminal. Verification may consume credits and must not be automatically retried or reconnected.
    # @param email [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cache_max_age 
    # @option opts [String] :only_if_free 
    # @return [Array<(VerificationResponse, Integer, Hash)>] VerificationResponse data, response status code and response headers
    def verify_email_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerificationApi.verify_email ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling VerificationApi.verify_email"
      end
      allowable_values = ["live", "1d", "1w", "1m"]
      if @api_client.config.client_side_validation && opts[:'cache_max_age'] && !allowable_values.include?(opts[:'cache_max_age'])
        fail ArgumentError, "invalid value for \"cache_max_age\", must be one of #{allowable_values}"
      end
      allowable_values = ["true", "false"]
      if @api_client.config.client_side_validation && opts[:'only_if_free'] && !allowable_values.include?(opts[:'only_if_free'])
        fail ArgumentError, "invalid value for \"only_if_free\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/verify'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email
      query_params[:'cacheMaxAge'] = opts[:'cache_max_age'] if !opts[:'cache_max_age'].nil?
      query_params[:'onlyIfFree'] = opts[:'only_if_free'] if !opts[:'only_if_free'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VerificationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"VerificationApi.verify_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerificationApi#verify_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
