=begin
#Reacon API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module Reacon
  class WebhooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an automation webhook
    # Creates an event subscription for the API key team. The signing secret is returned on creation; store it securely and exclude it from logs and documentation recordings.
    # @param create_automation_hook_request [CreateAutomationHookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AutomationHookCreated]
    def create_automation_hook(create_automation_hook_request, opts = {})
      data, _status_code, _headers = create_automation_hook_with_http_info(create_automation_hook_request, opts)
      data
    end

    # Create an automation webhook
    # Creates an event subscription for the API key team. The signing secret is returned on creation; store it securely and exclude it from logs and documentation recordings.
    # @param create_automation_hook_request [CreateAutomationHookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AutomationHookCreated, Integer, Hash)>] AutomationHookCreated data, response status code and response headers
    def create_automation_hook_with_http_info(create_automation_hook_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.create_automation_hook ...'
      end
      # verify the required parameter 'create_automation_hook_request' is set
      if @api_client.config.client_side_validation && create_automation_hook_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_automation_hook_request' when calling WebhooksApi.create_automation_hook"
      end
      # resource path
      local_var_path = '/v1/hooks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_automation_hook_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AutomationHookCreated'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"WebhooksApi.create_automation_hook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#create_automation_hook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Segment origin installation
    # Creates a signing identity for Segment-origin requests. The response contains a secret and is marked Cache-Control: no-store. Store the secret securely and redact it from recordings.
    # @param create_segment_installation_request [CreateSegmentInstallationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SegmentInstallationCreated]
    def create_segment_installation(create_segment_installation_request, opts = {})
      data, _status_code, _headers = create_segment_installation_with_http_info(create_segment_installation_request, opts)
      data
    end

    # Create a Segment origin installation
    # Creates a signing identity for Segment-origin requests. The response contains a secret and is marked Cache-Control: no-store. Store the secret securely and redact it from recordings.
    # @param create_segment_installation_request [CreateSegmentInstallationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SegmentInstallationCreated, Integer, Hash)>] SegmentInstallationCreated data, response status code and response headers
    def create_segment_installation_with_http_info(create_segment_installation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.create_segment_installation ...'
      end
      # verify the required parameter 'create_segment_installation_request' is set
      if @api_client.config.client_side_validation && create_segment_installation_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_segment_installation_request' when calling WebhooksApi.create_segment_installation"
      end
      # resource path
      local_var_path = '/v1/origin-installations/segment'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_segment_installation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SegmentInstallationCreated'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"WebhooksApi.create_segment_installation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#create_segment_installation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an automation webhook
    # Deletes a subscription in the API key team. Returns 204 without a body or 404 if no subscription matches.
    # @param hook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_automation_hook(hook_id, opts = {})
      delete_automation_hook_with_http_info(hook_id, opts)
      nil
    end

    # Delete an automation webhook
    # Deletes a subscription in the API key team. Returns 204 without a body or 404 if no subscription matches.
    # @param hook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_automation_hook_with_http_info(hook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.delete_automation_hook ...'
      end
      # verify the required parameter 'hook_id' is set
      if @api_client.config.client_side_validation && hook_id.nil?
        fail ArgumentError, "Missing the required parameter 'hook_id' when calling WebhooksApi.delete_automation_hook"
      end
      if @api_client.config.client_side_validation && hook_id.to_s.length > 36
        fail ArgumentError, 'invalid value for "hook_id" when calling WebhooksApi.delete_automation_hook, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && hook_id.to_s.length < 36
        fail ArgumentError, 'invalid value for "hook_id" when calling WebhooksApi.delete_automation_hook, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/v1/hooks/{hookId}'.sub('{hookId}', CGI.escape(hook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"WebhooksApi.delete_automation_hook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#delete_automation_hook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Segment origin installation
    # Deletes the installation within the API key team. Returns 204 with no body or 404 if no installation matches.
    # @param installation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_segment_installation(installation_id, opts = {})
      delete_segment_installation_with_http_info(installation_id, opts)
      nil
    end

    # Delete a Segment origin installation
    # Deletes the installation within the API key team. Returns 204 with no body or 404 if no installation matches.
    # @param installation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_segment_installation_with_http_info(installation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.delete_segment_installation ...'
      end
      # verify the required parameter 'installation_id' is set
      if @api_client.config.client_side_validation && installation_id.nil?
        fail ArgumentError, "Missing the required parameter 'installation_id' when calling WebhooksApi.delete_segment_installation"
      end
      if @api_client.config.client_side_validation && installation_id.to_s.length > 36
        fail ArgumentError, 'invalid value for "installation_id" when calling WebhooksApi.delete_segment_installation, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && installation_id.to_s.length < 36
        fail ArgumentError, 'invalid value for "installation_id" when calling WebhooksApi.delete_segment_installation, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/v1/origin-installations/segment/{installationId}'.sub('{installationId}', CGI.escape(installation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKey']

      new_options = opts.merge(
        :operation => :"WebhooksApi.delete_segment_installation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#delete_segment_installation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
